Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]

Fix paths in plugins
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
Labels: p/plugins

Remove UWP as it isn't supported in NET Core
  Directory.Packages.props
  MvvmCross.Uwp/MvvmCross.Platforms.Uwp.csproj
  MvvmCross.slnx
Labels: none

Fix paths to WinUI proj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
Labels: p/plugins

Update MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
  MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
Labels: none

Move WinUI into own project (#5085)
  Directory.Build.props
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross.slnx
  MvvmCross/MvvmCross.csproj
  Projects/Directory.Build.props
  Projects/Directory.Packages.props
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
Labels: p/wpf, p/plugins, p/samples

chore: remove stale IoC using statements and MvxPluginManagerTests
  MvvmCross/Base/MvxBootstrapRunner.cs
  MvvmCross/Base/MvxCoreExtensions.cs
  MvvmCross/Binding/Binders/MvxNamedInstanceRegistryFiller.cs
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
  MvvmCross/Binding/Combiners/MvxValueConverterValueCombiner.cs
  MvvmCross/Binding/Extensions/MvxBindingExtensions.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxAxmlNameViewTypeResolver.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxJustNameViewTypeResolver.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxLongLowerCaseViewTypeResolver.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxNamespaceListViewTypeResolver.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxReflectionViewTypeResolver.cs
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Tvos/Binding/ValueConverters/MvxUnifiedTypesValueConverter.cs
  MvvmCross/ViewModels/MvxViewModelByNameLookup.cs
  MvvmCross/ViewModels/MvxViewModelViewTypeFinder.cs
  UnitTests/MvvmCross.UnitTest/Plugin/MvxPluginManagerTests.cs
Labels: p/android, p/mac, p/tvos

chore: remove deleted MvxPropertyInjector references from ContentFiles linker hints
  ContentFiles/Android/LinkerPleaseInclude.cs
  ContentFiles/iOS/LinkerPleaseInclude.cs
  ContentFiles/tvOS/LinkerPleaseInclude.cs
Labels: none

feat: migrate Playground projects to host builder pattern
  Projects/Playground/Playground.Core/App.cs
  Projects/Playground/Playground.Core/Services/ThousandTypes.cs
  Projects/Playground/Playground.Core/ViewModels/Issues/NavigationCloseViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Issues/ParentContentViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Fragments/ModalView.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
  Projects/Playground/Playground.Droid/LinkerPleaseInclude.cs
  Projects/Playground/Playground.Droid/MainApplication.cs
  Projects/Playground/Playground.Droid/Setup.cs
  Projects/Playground/Playground.Mac/AppDelegate.cs
  Projects/Playground/Playground.Mac/Setup.cs
  Projects/Playground/Playground.WinUi3/App.xaml.cs
  Projects/Playground/Playground.WinUi3/WinUiPlaygroundSetup.cs
  Projects/Playground/Playground.WpfCore/App.xaml
  Projects/Playground/Playground.WpfCore/App.xaml.cs
  Projects/Playground/Playground.WpfCore/Setup.cs
  Projects/Playground/Playground.iOS/AppDelegate.cs
  Projects/Playground/Playground.iOS/SceneDelegate.cs
  Projects/Playground/Playground.iOS/Setup.cs
  Projects/Playground/Playground.iOS/Views/SecondChildView.cs
Labels: p/samples

chore: remove deleted MvxPropertyInjector reference from Playground Android linker hints
  Projects/Playground/Playground.Droid/LinkerPleaseInclude.cs
Labels: p/samples

feat: fix ThousandTypes.cs NoReflection factory registrations for MS.DI
  Projects/Playground/Playground.Core/Services/ThousandTypes.cs
Labels: p/samples

Fix custom bindings registration
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  Projects/Playground/Playground.Droid/MainApplication.cs
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_cat.xml
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_dog.xml
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_monkey.xml
Labels: p/android, p/samples

iOS fixes
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
  MvvmCross/Platforms/Ios/Views/MvxIosViewServiceCollectionExtensions.cs
  Projects/Playground/Playground.iOS/AppDelegate.cs
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
  Projects/Playground/Playground.iOS/SceneDelegate.cs
Labels: p/ios, p/samples

Fix app start on iOS
  MvvmCross/Hosting/MvxHost.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
Labels: p/ios

Make debug work nicely
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Fix logging and add custom binding
  Projects/Playground/Playground.Core/ViewModels/Navigation/Page1ViewModel.cs
  Projects/Playground/Playground.iOS/AppDelegate.cs
  Projects/Playground/Playground.iOS/SceneDelegate.cs
Labels: p/samples

Remove unused hosting package
  Directory.Packages.props
  MvvmCross/MvvmCross.csproj
Labels: none

Add binding builder to hosts
  MvvmCross/Hosting/MvxHostBuilder.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
  MvvmCross/Platforms/Mac/Hosting/MvxMacHostBuilder.cs
  MvvmCross/Platforms/Tvos/Hosting/MvxTvosHostBuilder.cs
  MvvmCross/Platforms/WinUi/Hosting/MvxWinUiHostBuilder.cs
  MvvmCross/Platforms/Wpf/Hosting/MvxWpfHostBuilder.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/wpf

Fix Wpf/WinUI build issues
  MvvmCross/Platforms/WinUi/Binding/MvxWindowsBindingBuilder.cs
  MvvmCross/Platforms/WinUi/Presenters/MvxMultiWindowViewPresenter.cs
  MvvmCross/Platforms/Wpf/Binding/MvxWindowsBindingBuilder.cs
  MvvmCross/Platforms/Wpf/Views/MvxWindow.cs
Labels: p/wpf

Fix IL2026/IL2046 trimmer annotation cascade warnings
  .vscode/extensions.json
  MvvmCross/Base/MvxCoreExtensions.cs
  MvvmCross/DependencyInjection/MvxOptions.cs
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewDispatcher.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewServiceCollectionExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxSavedStateConverter.cs
  MvvmCross/Platforms/Console/Views/MvxBaseConsoleContainer.cs
  MvvmCross/Platforms/Console/Views/MvxConsoleContainer.cs
  MvvmCross/Platforms/Console/Views/MvxConsoleViewDispatcher.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Views/MvxIosViewDispatcher.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  MvvmCross/Platforms/Mac/Views/MvxMacViewDispatcher.cs
  MvvmCross/Platforms/Tizen/Presenters/MvxTizenViewPresenter.cs
  MvvmCross/Platforms/Tizen/Views/MvxTizenViewDispatcher.cs
  MvvmCross/Platforms/Tvos/Presenters/MvxTvosViewPresenter.cs
  MvvmCross/Platforms/Tvos/Views/MvxTvosViewDispatcher.cs
  MvvmCross/Platforms/Uap/Presenters/MvxWindowsViewPresenter.cs
  MvvmCross/Platforms/Uap/Views/MvxWindowsViewDispatcher.cs
  MvvmCross/Platforms/WinUi/Presenters/MvxMultiWindowViewPresenter.cs
  MvvmCross/Platforms/WinUi/Presenters/MvxWindowsViewPresenter.cs
  MvvmCross/Platforms/WinUi/Views/MvxWindowsViewDispatcher.cs
  MvvmCross/Platforms/Wpf/Presenters/MvxWpfViewPresenter.cs
  MvvmCross/Platforms/Wpf/Views/MvxWpfViewDispatcher.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/IMvxViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxViewPresenter.cs
  MvvmCross/Views/IMvxViewDispatcher.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/uwp, p/wpf

Fix warnings
  MvvmCross/Base/MvxMainThreadDispatchingObject.cs
  MvvmCross/Binding/Extensions/IMvxEditableTextView.cs
  MvvmCross/Exceptions/MvxException.cs
  MvvmCross/Hosting/MvxHost.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxFragmentExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidApplication.cs
  MvvmCross/Platforms/Android/Views/MvxStartActivity.cs
  MvvmCross/Platforms/Android/Views/MvxTabsFragmentActivity.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxViewPresenter.cs
  MvvmCross/ViewModels/IMvxAppStart.cs
  MvvmCross/ViewModels/MvxAppStart.cs
  MvvmCross/ViewModels/MvxChildViewModelCache.cs
  MvvmCross/WeakSubscription/MvxNotifyCollectionChangedEventSubscription.cs
Labels: p/android, p/tvos

Fix usage of MvvmCross vs Mvx
  MvvmCross.Plugins/Color/MvxColorServiceCollectionExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Android/MvxColorAndroidServiceCollectionExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Ios/MvxColorIosServiceCollectionExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Uap/MvxColorDesignTimeHelper.cs
  MvvmCross.Plugins/Color/Platforms/WinUi/MvxColorDesignTimeHelper.cs
  MvvmCross.Plugins/Color/Platforms/WinUi/MvxColorWinUiServiceCollectionExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Wpf/MvxColorWpfServiceCollectionExtensions.cs
  MvvmCross.Plugins/FieldBinding/MvxFieldBindingServiceCollectionExtensions.cs
  MvvmCross.Plugins/Json/MvxJsonServiceCollectionExtensions.cs
  MvvmCross.Plugins/JsonLocalization/MvxJsonLocalizationServiceCollectionExtensions.cs
  MvvmCross.Plugins/Messenger/MvxMessengerServiceCollectionExtensions.cs
  MvvmCross.Plugins/MethodBinding/MvxMethodBindingServiceCollectionExtensions.cs
  MvvmCross.Plugins/ResourceLoader/Platforms/Android/MvxResourceLoaderAndroidServiceCollectionExtensions.cs
  MvvmCross.Plugins/ResourceLoader/Platforms/Ios/MvxResourceLoaderIosServiceCollectionExtensions.cs
  MvvmCross.Plugins/ResourceLoader/Platforms/WinUi/MvxResourceLoaderWinUiServiceCollectionExtensions.cs
  MvvmCross.Plugins/ResourceLoader/Platforms/Wpf/MvxResourceLoaderWpfServiceCollectionExtensions.cs
  MvvmCross.Plugins/ResxLocalization/MvxResxLocalizationServiceCollectionExtensions.cs
  MvvmCross.Plugins/Visibility/MvxVisibilityServiceCollectionExtensions.cs
  MvvmCross.Plugins/Visibility/Platforms/Android/MvxVisibilityAndroidServiceCollectionExtensions.cs
  MvvmCross.Plugins/Visibility/Platforms/Ios/MvxVisibilityIosServiceCollectionExtensions.cs
  MvvmCross.Plugins/Visibility/Platforms/Uap/MvxVisibilityDesignTimeHelper.cs
  MvvmCross.Plugins/Visibility/Platforms/WinUi/MvxVisibilityDesignTimeHelper.cs
  MvvmCross.Plugins/Visibility/Platforms/WinUi/MvxVisibilityWinUiServiceCollectionExtensions.cs
  MvvmCross.Plugins/Visibility/Platforms/Wpf/MvxVisibilityWpfServiceCollectionExtensions.cs
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/IMvxViewTypeRegistry.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewServiceCollectionExtensions.cs
  MvvmCross/Platforms/Ios/Views/MvxIosViewServiceCollectionExtensions.cs
  Projects/Playground/Playground.Droid/MainApplication.cs
  Projects/Playground/Playground.Mac/AppDelegate.cs
  Projects/Playground/Playground.WinUi3/App.xaml.cs
  Projects/Playground/Playground.WpfCore/App.xaml.cs
  Projects/Playground/Playground.iOS/SceneDelegate.cs
Labels: p/ios, p/android, p/uwp, p/wpf, p/plugins, p/samples

Fix herpage
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
Labels: p/ios

Remove MvxIoCResolveException
  MvvmCross/Exceptions/MvxIoCResolveException.cs
Labels: none

Configure Start destination with `StartWith` method in host builder
  MvvmCross/DependencyInjection/IMvxStartup.cs
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/Hosting/MvxHost.cs
  MvvmCross/Hosting/MvxHostBuilder.cs
  MvvmCross/Localization/MvxLanguageBinder.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Console/Views/MvxConsoleContainer.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
  MvvmCross/Platforms/Mac/Hosting/MvxMacBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Mac/Hosting/MvxMacHostBuilder.cs
  MvvmCross/Platforms/Tvos/Hosting/MvxTvosBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Tvos/Hosting/MvxTvosHostBuilder.cs
  MvvmCross/Platforms/WinUi/Hosting/MvxWinUiBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/WinUi/Hosting/MvxWinUiHostBuilder.cs
  MvvmCross/Platforms/Wpf/Hosting/MvxWpfBindingServiceCollectionExtensions.cs
  MvvmCross/Platforms/Wpf/Hosting/MvxWpfHostBuilder.cs
  Projects/Playground/Playground.Core/App.cs
  Projects/Playground/Playground.Droid/MainApplication.cs
  Projects/Playground/Playground.Mac/AppDelegate.cs
  Projects/Playground/Playground.WinUi3/App.xaml.cs
  Projects/Playground/Playground.WpfCore/App.xaml.cs
  Projects/Playground/Playground.iOS/SceneDelegate.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/wpf, p/samples

Fix warnings
  MvvmCross.DroidX/Material/Behaviors/MvxScrollAwareGrowShrinkFABBehavior.cs
  MvvmCross.DroidX/Material/Behaviors/MvxScrollAwareTranslationHideBottomBarBehavior.cs
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/ViewModels/IMvxViewModelLoader.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxViewModelLoader.cs
  MvvmCross/ViewModels/MvxViewModelViewLookupBuilder.cs
Labels: p/android-support

Add AI Contribution Policy to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: t/docs

Allow customizing presenter and navigation service on builders
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/Hosting/MvxHostBuilder.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
  MvvmCross/Platforms/Mac/Hosting/MvxMacHostBuilder.cs
  MvvmCross/Platforms/Tvos/Hosting/MvxTvosHostBuilder.cs
  MvvmCross/Platforms/WinUi/Hosting/MvxWinUiHostBuilder.cs
  MvvmCross/Platforms/Wpf/Hosting/MvxWpfHostBuilder.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  UnitTests/MvvmCross.UnitTest/Hosting/MvxHostBuilderCustomizationTests.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/wpf

Add UseAppStart methods for better discoverability
  MvvmCross/Hosting/MvxHost.cs
  MvvmCross/Hosting/MvxHostBuilder.cs
Labels: none

Add tests for custom host builder
  UnitTests/MvvmCross.UnitTest/Hosting/MvxHostBuilderCustomizationTests.cs
Labels: none

Add migration doc
  docs/_documentation/upgrading/upgrade-to-mvvmcross-11.md
Labels: t/docs

Rename AddMvvmCross to AddMvxCore
  MvvmCross/DependencyInjection/MvxOptions.cs
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/Hosting/MvxHostBuilder.cs
  UnitTests/MvvmCross.UnitTest/Hosting/MvxHostBuilderCustomizationTests.cs
Labels: none

Call add logging to prevent app crash if user didn't register anything
  Directory.Packages.props
  MvvmCross/DependencyInjection/MvxServiceCollectionExtensions.cs
  MvvmCross/MvvmCross.csproj
  UnitTests/MvvmCross.UnitTest/Hosting/MvxHostBuilderCustomizationTests.cs
  docs/_documentation/upgrading/upgrade-to-mvvmcross-11.md
Labels: t/docs

Fix IL warnings
  MvvmCross/Hosting/MvxHostBuilder.cs
Labels: none

Remove IMvxStartup file
  MvvmCross/DependencyInjection/IMvxStartup.cs
Labels: none

Add UseViewDispatcher and UseViewsContainer extensions
  MvvmCross/Hosting/MvxHostBuilder.cs
  MvvmCross/Platforms/Android/Hosting/MvxAndroidHostBuilder.cs
  MvvmCross/Platforms/Ios/Hosting/MvxIosHostBuilder.cs
  UnitTests/MvvmCross.UnitTest/Hosting/MvxHostBuilderCustomizationTests.cs
Labels: p/ios, p/android

Update doc
  docs/_documentation/upgrading/upgrade-to-mvvmcross-11.md
Labels: t/docs

Add lsp config for copilot and claude
  .github/lsp.json
Labels: none

Add lsp config for copilot and claude (#5116)
  .github/lsp.json
Labels: none

Revert af13ea01acfcd6c8f7e35dfb70f34052ee8d1c08 Fix NSTextView binding (for text content). Fixes #4909. We'll implement better solution.
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
Labels: p/mac

Use NSTextView.Value property to bind text. Improvements towards #4909
  MvvmCross/Platforms/Mac/Binding/MvxMacPropertyBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
Labels: p/mac
