Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

Fix all macos IL2026 trimming warnings
  MvvmCross/Platforms/Mac/Binding/Target/MvxBaseNSDatePickerTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSDatePickerDateTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSDatePickerTimeTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSMenuItemOnTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSPopUpButtonSelectedTagTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSwitchOnTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTabViewControllerSelectedTabViewItemIndexTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
Labels: p/mac

Fix all tvos IL2026 trimming warnings
  MvvmCross/Binding/Bindings/SourceSteps/IMvxSourceStepFactory.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxCombinerSourceStepFactory.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxPathSourceStepFactory.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxSourceStepFactory.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxTypedSourceStepFactory.cs
  MvvmCross/Platforms/Console/Core/MvxConsoleSetup.cs
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUISegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldShouldReturnTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextFocusTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextViewTextTargetBinding.cs
Labels: p/mac, p/tvos

Fix dynamicallyaccessedmembers false positives
  MvvmCross/Base/MvxDictionaryExtensions.cs
  MvvmCross/Binding/Bindings/Target/MvxPropertyInfoTargetBinding.cs
  MvvmCross/Core/MvxSimplePropertyDictionaryExtensions.cs
  MvvmCross/IoC/MvxPropertyInjector.cs
  MvvmCross/Platforms/Ios/Views/MvxSegueExtensions.cs
  MvvmCross/Platforms/Mac/Views/MvxSegueExtensions.cs
  MvvmCross/Platforms/Tvos/Views/MvxSegueExtensions.cs
  MvvmCross/ViewModels/MvxInteractionExtensions.cs
  MvvmCross/ViewModels/MvxViewModelExtensions.cs
  MvvmCross/ViewModels/MvxViewModelInstanceRequest.cs
  MvvmCross/ViewModels/MvxViewModelViewTypeFinder.cs
Labels: p/ios, p/mac, p/tvos

Add requires unreferenced code attrs on binding context
  MvvmCross/Binding/BindingContext/IMvxBindingContext.cs
  MvvmCross/Binding/BindingContext/MvxBindingContext.cs
  MvvmCross/Binding/BindingContext/MvxTaskBasedBindingContext.cs
Labels: none

Add trimming attributes on more binding code
  MvvmCross/Base/IMvxApplicable.cs
  MvvmCross/Base/IMvxApplicableTo.cs
  MvvmCross/Base/MvxApplicable.cs
  MvvmCross/Base/MvxApplicableTo.cs
  MvvmCross/Binding/BindingContext/MvxBaseFluentBindingDescription.cs
  MvvmCross/Binding/BindingContext/MvxBindExtensions.cs
  MvvmCross/Binding/BindingContext/MvxBindingContextOwnerExtensions.Language.cs
  MvvmCross/Binding/BindingContext/MvxBindingContextOwnerExtensions.cs
  MvvmCross/Binding/BindingContext/MvxFluentBindingDescriptionSet.cs
  MvvmCross/Binding/Bindings/MvxBinding.cs
  MvvmCross/Binding/Bindings/MvxCompositeBinding.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxCombinerSourceStep.cs
  MvvmCross/Binding/Bindings/Target/Construction/MvxTargetBindingFactoryRegistry.cs
  MvvmCross/Binding/Bindings/Target/MvxEventHandlerEventInfoTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventInfoTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventNameTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventNameTargetBindingOfTEventArgs.cs
  MvvmCross/Binding/Bindings/Target/MvxPropertyInfoTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxWithEventPropertyInfoTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxCollectionReusableView.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxCollectionViewCell.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxCollectionViewListCell.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxTableViewCell.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxTableViewHeaderFooterView.cs
Labels: p/ios

Add more trimming attributes in ios binding code
  MvvmCross/Platforms/Ios/Binding/Target/MvxBaseUIDatePickerTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIBarButtonItemTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIControlTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIPageControlCurrentPageTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISearchBarTextTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISliderValueTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIStepperValueTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISwitchOnTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldShouldReturnTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextFocusTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextViewTextTargetBinding.cs
Labels: p/ios

Add trimming attributes in tvos code
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUIControlTouchUpInsideTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUIControlValueChangedTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUISearchBarTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUISegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldShouldReturnTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextFocusTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextViewTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxCollectionViewCell.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxCollectionViewListCell.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxStandardTableViewCell.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxTableViewCell.cs
  MvvmCross/Platforms/Tvos/Core/MvxTvosSetupSingleton.cs
Labels: p/ios, p/tvos

Add mac trimming attributes
  MvvmCross/Platforms/Mac/Binding/Target/MvxBaseNSDatePickerTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSMenuItemOnTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSPopUpButtonSelectedTagTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSearchFieldTextTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSliderValueTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSSwitchOnTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTabViewControllerSelectedTabViewItemIndexTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Views/MvxTableCellView.cs
  MvvmCross/Platforms/Mac/Binding/Views/MvxView.cs
Labels: p/mac

Add android trimming attributes
  MvvmCross/Platforms/Android/Binding/Target/MvxAdapterViewSelectedItemPositionTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatAutoCompleteTextViewSelectedObjectTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatRadioGroupSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSearchViewQueryTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewSelectedObjectTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxCompoundButtonCheckedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxExpandableListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxNumberPickerValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceClickTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxRadioGroupSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxRatingBarRatingTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSeekBarProgressTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextFormattedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewClickBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewFocusChangedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewLongClickBinding.cs
Labels: p/android

More trimming attributes in android code
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatAutoCompleteTextViewPartialTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewPartialTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSearchViewQueryTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewFocusTargetBinding.cs
Labels: p/android

Misc trimming attributes
  MvvmCross/Base/MvxApplicableExtensions.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetupSingleton.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxBaseTableViewSource.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxStandardTableViewCell.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxStandardTableViewSource.cs
  MvvmCross/Platforms/Mac/Binding/Views/MvxTableViewSource.cs
  MvvmCross/Platforms/Mac/Core/MvxMacSetupSingleton.cs
Labels: p/ios, p/android, p/mac

Fix more ios trimming warnings
  MvvmCross/Platforms/Ios/Binding/Views/MvxActionBasedTableViewSource.cs
  MvvmCross/Platforms/Ios/Binding/Views/MvxSimpleTableViewSource.cs
  MvvmCross/Platforms/Ios/Views/MvxExpandableTableViewSource.cs
Labels: p/ios

Fix various trimming warnings
  MvvmCross/Binding/Bindings/Source/Construction/MvxPropertySourceBindingFactoryExtension.cs
  MvvmCross/Binding/Bindings/Target/MvxConvertingTargetBinding.cs
  MvvmCross/IoC/MvxIoCContainer.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/Platforms/Android/Binding/Binders/IMvxAndroidViewBinder.cs
  MvvmCross/Platforms/Android/Binding/Binders/MvxAndroidViewBinder.cs
  MvvmCross/Platforms/Android/Binding/Binders/MvxBindingLayoutInflaterFactory.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextFormattedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextTargetBinding.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/Fragments/EventSource/MvxBaseFragmentAdapter.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxBindingFragmentAdapter.cs
  MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
  MvvmCross/Platforms/Android/Views/MvxFragmentExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxSavedStateConverter.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentStatePagerAdapter.cs
  MvvmCross/Platforms/Console/Views/MvxConsoleMessagePump.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Mac/Binding/Views/MvxTableCellView.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/ValueConverters/MvxUnifiedTypesValueConverter.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxActionBasedTableViewSource.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxBaseTableViewSource.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxSimpleTableViewSource.cs
  MvvmCross/Platforms/Tvos/Binding/Views/MvxStandardTableViewSource.cs
Labels: p/ios, p/android, p/mac, p/tvos

Handle more trimming warnings
  MvvmCross/Core/MvxSetup.cs
  MvvmCross/Platforms/Android/Binding/Binders/IMvxLayoutInflaterHolderFactoryFactory.cs
  MvvmCross/Platforms/Android/Binding/Binders/MvxLayoutInflaterFactoryFactory.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxFragmentExtensions.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelLoader.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
  MvvmCross/Platforms/Android/Views/MvxFragmentExtensions.cs
Labels: p/android

Add more trimming attributes
  MvvmCross.Plugins/Color/MvxColorValueConverter.cs
  MvvmCross.Plugins/Visibility/MvxBaseVisibilityValueConverter.cs
  MvvmCross/Converters/IMvxValueConverter.cs
  MvvmCross/Converters/MvxValueConverter.cs
  MvvmCross/IoC/MvxTypeExtensions.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxDialogFragment.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxFragment.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxPreferenceFragment.cs
  MvvmCross/Platforms/Android/Views/MvxChildViewModelOwnerExtensions.cs
  MvvmCross/Platforms/Console/Core/MvxConsoleSetup.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  MvvmCross/Platforms/Mac/Views/MvxViewControllerExtensions.cs
  MvvmCross/Platforms/Tvos/Binding/ValueConverters/MvxUnifiedTypesValueConverter.cs
Labels: p/android, p/mac, p/tvos, p/plugins

More trimming attributes
  MvvmCross.DroidX/RecyclerView/AttributeHelpers/MvxRecyclerViewAttributeExtensions.cs
  MvvmCross.Plugins/Color/MvxColorValueConverter.cs
  MvvmCross.Plugins/Color/Platforms/Android/BindingTargets/MvxViewColorBinding.cs
  MvvmCross.Plugins/FieldBinding/MvxChainedNotifyChangeFieldSourceBinding.cs
  MvvmCross.Plugins/FieldBinding/MvxFieldSourceBindingFactoryExtension.cs
  MvvmCross.Plugins/FieldBinding/MvxLeafFieldSourceBinding.cs
  MvvmCross.Plugins/FieldBinding/MvxLeafNotifyChangeFieldSourceBinding.cs
  MvvmCross.Plugins/FieldBinding/MvxNotifyChangeFieldSourceBinding.cs
  MvvmCross.Plugins/MethodBinding/MvxMethodSourceBindingFactoryExtension.cs
  MvvmCross.Plugins/Visibility/MvxBaseVisibilityValueConverter.cs
  MvvmCross/Binding/Combiners/MvxValueConverterValueCombiner.cs
  MvvmCross/Converters/IMvxValueConverter.cs
  MvvmCross/Converters/MvxValueConverter.cs
  MvvmCross/IoC/MvxTypeExtensions.cs
  MvvmCross/Localization/MvxLanguageConverter.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentStatePagerAdapter.cs
  MvvmCross/Platforms/Tvos/Binding/ValueConverters/MvxUnifiedTypesValueConverter.cs
Labels: p/android, p/tvos, p/android-support, p/plugins

lint
  MvvmCross.Plugins/FieldBinding/MvxChainedFieldSourceBinding.cs
  MvvmCross.Plugins/FieldBinding/Plugin.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUIControlValueChangedTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldShouldReturnTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextFocusTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUIViewLayerBorderWidthTargetBinding.cs
  MvvmCross/Platforms/Tvos/Binding/Target/MvxUIViewTapTargetBinding.cs
Labels: p/tvos, p/plugins

Update AndroidX packages
  Directory.Packages.props
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Update AndroidX packages (#4962)
  Directory.Packages.props
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Add renovate config
  renovate.json
Labels: none

Add renovate config (#4963)
  renovate.json
Labels: none

Update renovate config to group winui sdk
  renovate.json
Labels: none

Update renovate config to group winui sdk (#4979)
  renovate.json
Labels: none

Fix formatting issue in Directory.Packages.props
  Directory.Packages.props
Labels: none

Pin CodeQL actions
  .github/workflows/codeql.yml
Labels: p/ci

Pin CodeQL actions (#4982)
  .github/workflows/codeql.yml
Labels: p/ci

Disable dependency dashboard issue
  renovate.json
Labels: none

Disable dependency dashboard issue (#4983)
  renovate.json
Labels: none

Bump to .NET 10 RC2
  .github/actions/shared/action.yml
Labels: none

Bump to .NET 10 RC2 (#4989)
  .github/actions/shared/action.yml
Labels: none

Add ossf scorecard uploads
  .github/workflows/ossf-scorecard.yml
Labels: p/ci

Add ossf scorecard uploads (#4992)
  .github/workflows/ossf-scorecard.yml
Labels: p/ci

Pin labeler
  .github/workflows/labeler-pr.yml
Labels: p/ci

Harden actions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Add dependency-review action
  .github/workflows/dependency-review.yml
Labels: p/ci

Fix OSSF Scorecard warnings (#4993)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Restrict permissions on sonar and format actions
  .github/workflows/dotnet-format.yml
  .github/workflows/sonar.yml
Labels: p/ci

Restrict permissions on sonar and format actions (#4994)
  .github/workflows/dotnet-format.yml
  .github/workflows/sonar.yml
Labels: p/ci

Remove dependabot config as repo has migrated to renovate
  .github/dependabot.yml
Labels: none

Remove dependabot config as repo has migrated to renovate (#4996)
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]
