Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]

Fix sonar args, cobertura is supported directly and ANT patterns are OK for both tests and coverage
  build/Program.cs
Labels: none

Allow manual trigger
  .github/workflows/build.yml
  .github/workflows/sonar.yml
Labels: p/ci

Escape paths
  build/Program.cs
Labels: none

Fix sonar args (#4921)
  .github/workflows/build.yml
  .github/workflows/sonar.yml
  build/Program.cs
Labels: p/ci

Escape sonar exclusions
  build/Program.cs
Labels: none

Colon, not dot
  build/Program.cs
Labels: none

Don't skip JRE provisioning and remove exclusions as sonar is complaining
  build/Program.cs
Labels: none

Use xunit report output for sonar
  build/Program.cs
Labels: none

Use xunit report output for sonar (#4922)
  build/Program.cs
Labels: none

Conditionally exclude iOS/macOS targets in .csproj files for Linux builds
  Directory.Build.props
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross/MvvmCross.csproj
Labels: p/plugins

clean
  MvvmCross/Binding/Bindings/Target/Construction/MvxPropertyInfoTargetBindingFactory.cs
  MvvmCross/Binding/Bindings/Target/Construction/MvxTargetBindingFactoryRegistry.cs
Labels: none

More attributes
  MvvmCross/Binding/Bindings/Source/Construction/IMvxSourceBindingFactory.cs
  MvvmCross/Binding/Bindings/Source/Construction/MvxSourceBindingFactory.cs
  MvvmCross/Binding/MvxBindingBuilder.cs
  MvvmCross/Binding/MvxCoreBindingBuilder.cs
  MvvmCross/Core/MvxSetup.cs
  MvvmCross/IoC/IMvxIoCProvider.cs
  MvvmCross/IoC/MvxIoCContainer.cs
  MvvmCross/IoC/MvxIoCContainerExtensions.cs
  MvvmCross/IoC/MvxIoCProvider.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxCompositeViewTypeResolver.cs
  MvvmCross/Platforms/Android/Binding/Binders/ViewTypeResolvers/MvxReflectionViewTypeResolver.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/WeakSubscription/MvxAndroidTargetEventSubscription.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosBindingBuilder.cs
  MvvmCross/Plugin/IMvxPluginManager.cs
  MvvmCross/Plugin/MvxPluginManager.cs
  MvvmCross/ViewModels/IMvxBundle.cs
  MvvmCross/ViewModels/IMvxTypeToTypeLookupBuilder.cs
  MvvmCross/ViewModels/IMvxViewModelByNameRegistry.cs
  MvvmCross/ViewModels/IMvxViewModelLocator.cs
  MvvmCross/ViewModels/MvxBundle.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxNavigationSerializer.cs
  MvvmCross/ViewModels/MvxViewModelRequest.cs
  MvvmCross/ViewModels/MvxViewModelViewLookupBuilder.cs
  MvvmCross/ViewModels/MvxViewModelViewTypeFinder.cs
  MvvmCross/WeakSubscription/MvxGeneralEventSubscription.cs
  MvvmCross/WeakSubscription/MvxWeakEventSubscription.cs
Labels: p/ios, p/android

breaking: Annotate and split MvxViewModelInstanceRequest
  MvvmCross/ViewModels/MvxViewModelInstanceRequest.cs
Labels: none

More attributes
  MvvmCross/IoC/IMvxPropertyInjector.cs
  MvvmCross/IoC/MvxPropertyInjector.cs
  MvvmCross/IoC/MvxPropertyInjectorOptions.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/ViewModels/IMvxTypeFinder.cs
  MvvmCross/ViewModels/MvxViewForAttribute.cs
  MvvmCross/ViewModels/MvxViewModelByNameLookup.cs
Labels: p/android

More trimming attributes
  MvvmCross/Base/MvxCoreExtensions.cs
  MvvmCross/Core/MvxSetupSingleton.cs
  MvvmCross/Core/MvxSimplePropertyDictionaryExtensions.cs
  MvvmCross/IoC/MvxTypeExtensions.cs
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelLoader.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelRequestTranslator.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidApplication.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
  MvvmCross/Platforms/Tvos/Binding/MvxTvosBindingBuilder.cs
  MvvmCross/Platforms/Tvos/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Tvos/Core/MvxTvosSetup.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/ViewModels/IMvxTypeFinder.cs
  MvvmCross/ViewModels/MvxAppStart.cs
  MvvmCross/ViewModels/MvxApplication.cs
  MvvmCross/ViewModels/MvxInteractionExtensions.cs
  MvvmCross/ViewModels/MvxViewModelExtensions.cs
  MvvmCross/ViewModels/MvxViewModelInstanceRequestWithSource.cs
  MvvmCross/ViewModels/MvxViewModelLoader.cs
  MvvmCross/ViewModels/MvxViewModelViewTypeFinder.cs
  MvvmCross/Views/IMvxViewFinder.cs
  MvvmCross/Views/MvxViewsContainer.cs
  MvvmCross/WeakSubscription/MvxValueEventSubscription.cs
  MvvmCross/WeakSubscription/MvxWeakSubscriptionExtensions.cs
Labels: p/android, p/tvos

Core code mostly covered by annotations
  MvvmCross/Base/IMvxTextSerializer.cs
  MvvmCross/Binding/Binders/MvxNamedInstanceRegistryFiller.cs
  MvvmCross/Binding/BindingContext/MvxBaseFluentBindingDescription.cs
  MvvmCross/Binding/BindingContext/MvxBindExtensions.cs
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
  MvvmCross/Binding/Bindings/Source/Chained/MvxChainedSourceBinding.cs
  MvvmCross/Binding/Bindings/Source/Chained/MvxIndexerChainedSourceBinding.cs
  MvvmCross/Binding/Bindings/Source/Chained/MvxSimpleChainedSourceBinding.cs
  MvvmCross/Binding/Bindings/Source/MvxPropertyInfoSourceBinding.cs
  MvvmCross/Binding/Bindings/SourceSteps/IMvxSourceStep.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxCombinerSourceStep.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxPathSourceStep.cs
  MvvmCross/Binding/Bindings/SourceSteps/MvxSourceStep.cs
  MvvmCross/Binding/Bindings/Target/MvxEventNameTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventNameTargetBindingOfTEventArgs.cs
  MvvmCross/Commands/IMvxCommandCollectionBuilder.cs
  MvvmCross/Commands/MvxCommandCollectionBuilder.cs
  MvvmCross/Core/Parse/StringDictionary/MvxViewModelRequestCustomTextSerializer.cs
  MvvmCross/Platforms/Android/Binding/MvxPreferenceSetupHelper.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAndroidTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxExpandableListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Views/MvxLayoutInflater.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxViewPagerFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Ios/Core/MvxIosSetup.cs
  MvvmCross/Platforms/Ios/Core/MvxIosSetupSingleton.cs
  MvvmCross/Platforms/Ios/Core/MvxSceneDelegate.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Views/MvxCanCreateIosViewExtensions.cs
  MvvmCross/Platforms/Ios/Views/MvxSegueExtensions.cs
  MvvmCross/Platforms/Mac/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Mac/Core/MvxMacSetup.cs
  MvvmCross/Platforms/Tvos/Presenters/MvxTvosViewPresenter.cs
  MvvmCross/Platforms/Tvos/Views/MvxCanCreateTvosViewExtensions.cs
  MvvmCross/Presenters/Hints/MvxPagePresentationHint.cs
  MvvmCross/Views/MvxViewExtensions.cs
Labels: p/ios, p/android, p/mac, p/tvos

Fix MvxViewModelInstanceRequest after split. We still need non-generic ctor with instance
  MvvmCross/ViewModels/MvxViewModelInstanceRequest.cs
Labels: none

Lint
  MvvmCross/Base/MvxDictionaryExtensions.cs
  MvvmCross/Binding/BindingContext/MvxBaseFluentBindingDescription.cs
  MvvmCross/ViewModels/MvxViewForAttribute.cs
Labels: none

Ooops. Reflection requires operating on concrete instance
  MvvmCross/Base/MvxDictionaryExtensions.cs
  MvvmCross/Core/MvxSimplePropertyDictionaryExtensions.cs
  MvvmCross/IoC/MvxPropertyInjector.cs
  MvvmCross/Platforms/Ios/Views/MvxSegueExtensions.cs
  MvvmCross/ViewModels/MvxInteractionExtensions.cs
  MvvmCross/ViewModels/MvxViewModelExtensions.cs
Labels: p/ios

Undo split of MvxViewModelInstanceRequest
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/ViewModels/MvxViewModelInstanceRequest.cs
  MvvmCross/ViewModels/MvxViewModelInstanceRequestWithSource.cs
Labels: none

Fix warning on not matching interface definition on MvxDefaultViewModelLocator
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
Labels: none

Enable nullable attributes on MvxViewControllerAdapter and Extensions and fix case where request was nulled out from the outside
  MvvmCross/Platforms/Ios/Views/MvxViewControllerAdapter.cs
  MvvmCross/Platforms/Ios/Views/MvxViewControllerExtensions.cs
Labels: p/ios

Fix MvxViewControllerExtensions null reference (#4930)
  MvvmCross/Platforms/Ios/Views/MvxViewControllerAdapter.cs
  MvvmCross/Platforms/Ios/Views/MvxViewControllerExtensions.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
Labels: p/ios

Update devcontainer
  .devcontainer/devcontainer.json
Labels: none

Remove unnecessary platform definitions
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Remove unused configs
  MvvmCross.sln
Labels: none

Migrate to slnx
  MvvmCross-macos.slnf
  MvvmCross.sln
  MvvmCross.sln.DotSettings
  MvvmCross.slnx
  build/Program.cs
Labels: none

Fix lint workflow
  .github/workflows/dotnet-format.yml
Labels: p/ci

Migrate solution to SLNX (#4931)
  .github/workflows/dotnet-format.yml
  MvvmCross-macos.slnf
  MvvmCross.sln
  MvvmCross.sln.DotSettings
  MvvmCross.slnx
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
  build/Program.cs
Labels: p/ci, p/samples

Remove obsolete net8 targets
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross/MvvmCross.csproj
Labels: p/android-support, p/plugins

Remove obsolete net8 targets (#4936)
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross/MvvmCross.csproj
Labels: p/android-support, p/plugins

Fix faulty scroll in MvxExpandableTableViewSource
  MvvmCross/Platforms/Ios/Views/MvxExpandableTableViewSource.cs
Labels: p/ios

Switch to NuGet trusted pub
  .github/workflows/release.yml
Labels: p/ci

Switch to NuGet trusted pub (#4940)
  .github/workflows/release.yml
Labels: p/ci

Move nuget login up
  .github/workflows/release.yml
Labels: p/ci

Update .NET to 9.0.304
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Update actions versions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Update CI tools (#4941)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Fix argument name
  MvvmCross/Platforms/Ios/Views/MvxExpandableTableViewSource.cs
Labels: p/ios

Fix faulty scroll when expanding a section using MvxExpandableTableViewSource (#4939)
  MvvmCross/Platforms/Ios/Views/MvxExpandableTableViewSource.cs
Labels: p/ios
