Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

Use cancellation token
  UnitTests/MvvmCross.UnitTest/Binding/Bindings/MvxFullBindingTest.cs
Labels: none

Use object on older platforms
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
Labels: none

Fix style on catch clauses
  UnitTests/MvvmCross.UnitTest/Binding/Bindings/MvxFullBindingTest.cs
Labels: none

Fix race conditions in MvxFullBinding (#5032)
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
  UnitTests/MvvmCross.UnitTest/Binding/Bindings/MvxFullBindingTest.cs
Labels: none

Switch to ubuntu-slim runners for some workflows
  .github/workflows/dependency-review.yml
  .github/workflows/labeler-pr.yml
Labels: p/ci

Switch to ubuntu-slim runners for some workflows (#5033)
  .github/workflows/dependency-review.yml
  .github/workflows/labeler-pr.yml
Labels: p/ci

Remove harden runner step as it is not available for all runner images
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Remove harden runner step as it is not available for all runner images (#5034)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Update TFMs for playground projects
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
  Projects/Playground/Playground.WpfCore/Playground.WpfCore.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Remove unnecessary Register attributes on Fragments
  Projects/Playground/Playground.Droid/Fragments/ChildView.cs
  Projects/Playground/Playground.Droid/Fragments/DictionaryBindingView.cs
  Projects/Playground/Playground.Droid/Fragments/FragmentCloseView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalNavView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedChildView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedModalView.cs
  Projects/Playground/Playground.Droid/Fragments/OverrideAttributeView.cs
  Projects/Playground/Playground.Droid/Fragments/SecondChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SheetView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailNavView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitMasterView.cs
  Projects/Playground/Playground.Droid/Fragments/Tab1View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab2View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab3View.cs
  Projects/Playground/Playground.Droid/Fragments/TabsRootBView.cs
Labels: p/samples

Fix inflate methods
  Projects/Playground/Playground.Droid/Fragments/BaseSplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/ChildView.cs
  Projects/Playground/Playground.Droid/Fragments/DictionaryBindingView.cs
  Projects/Playground/Playground.Droid/Fragments/FragmentCloseView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalNavView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedChildView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedModalView.cs
  Projects/Playground/Playground.Droid/Fragments/OverrideAttributeView.cs
  Projects/Playground/Playground.Droid/Fragments/SecondChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SheetView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitMasterView.cs
  Projects/Playground/Playground.Droid/Fragments/Tab1View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab2View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab3View.cs
  Projects/Playground/Playground.Droid/Fragments/TabsRootBView.cs
Labels: p/samples

Add requires unreferenced code attributes to droid sample
  Projects/Playground/Playground.Droid/Activities/CollectionView.cs
  Projects/Playground/Playground.Droid/Activities/ConvertersActivity.cs
  Projects/Playground/Playground.Droid/Activities/CustomBindingView.cs
  Projects/Playground/Playground.Droid/Activities/RootView.cs
  Projects/Playground/Playground.Droid/Activities/SharedElementRootView.cs
  Projects/Playground/Playground.Droid/Activities/SharedElementSecondView.cs
  Projects/Playground/Playground.Droid/Activities/SplitRootView.cs
  Projects/Playground/Playground.Droid/Extensions/BackPressedCallback.cs
  Projects/Playground/Playground.Droid/Fragments/BaseSplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/ChildView.cs
  Projects/Playground/Playground.Droid/Fragments/ChildWithResultFragment.cs
  Projects/Playground/Playground.Droid/Fragments/FragmentCloseView.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
  Projects/Playground/Playground.Droid/Fragments/SharedElementRootChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SharedElementSecondChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailNavView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitMasterView.cs
  Projects/Playground/Playground.Droid/Fragments/Tab1View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab2View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab3View.cs
  Projects/Playground/Playground.Droid/Fragments/TabsRootBView.cs
Labels: p/samples

Potential fix for pull request finding 'Unnecessarily complex Boolean expression'
  Projects/Playground/Playground.Droid/Activities/SplitRootView.cs
Labels: p/samples

Playground updates (#5040)
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Droid/Activities/CollectionView.cs
  Projects/Playground/Playground.Droid/Activities/ConvertersActivity.cs
  Projects/Playground/Playground.Droid/Activities/CustomBindingView.cs
  Projects/Playground/Playground.Droid/Activities/RootView.cs
  Projects/Playground/Playground.Droid/Activities/SharedElementRootView.cs
  Projects/Playground/Playground.Droid/Activities/SharedElementSecondView.cs
  Projects/Playground/Playground.Droid/Activities/SplitRootView.cs
  Projects/Playground/Playground.Droid/Extensions/BackPressedCallback.cs
  Projects/Playground/Playground.Droid/Fragments/BaseSplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/ChildView.cs
  Projects/Playground/Playground.Droid/Fragments/ChildWithResultFragment.cs
  Projects/Playground/Playground.Droid/Fragments/DictionaryBindingView.cs
  Projects/Playground/Playground.Droid/Fragments/FragmentCloseView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalNavView.cs
  Projects/Playground/Playground.Droid/Fragments/ModalView.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedChildView.cs
  Projects/Playground/Playground.Droid/Fragments/NestedModalView.cs
  Projects/Playground/Playground.Droid/Fragments/OverrideAttributeView.cs
  Projects/Playground/Playground.Droid/Fragments/SecondChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SharedElementRootChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SharedElementSecondChildView.cs
  Projects/Playground/Playground.Droid/Fragments/SheetView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailNavView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitDetailView.cs
  Projects/Playground/Playground.Droid/Fragments/SplitMasterView.cs
  Projects/Playground/Playground.Droid/Fragments/Tab1View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab2View.cs
  Projects/Playground/Playground.Droid/Fragments/Tab3View.cs
  Projects/Playground/Playground.Droid/Fragments/TabsRootBView.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
  Projects/Playground/Playground.WpfCore/Playground.WpfCore.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/samples

Use concrete runtime type instead of compile time type
  MvvmCross/Views/MvxViewExtensions.cs
Labels: none

Add better test coverage
  UnitTests/MvvmCross.UnitTest/Platform/MvxViewModelViewTypeFinderTest.cs
Labels: none

Remove unconditional supress attritibutes by adding a few trimming attributes to IMvxPresentationAttribute
  MvvmCross/Platforms/Android/Views/MvxFragmentExtensions.cs
  MvvmCross/Presenters/Attributes/IMvxPresentationAttribute.cs
  MvvmCross/Presenters/Attributes/MvxBasePresentationAttribute.cs
Labels: p/android

Oops didn't mean to remove this constraint
  MvvmCross/Views/MvxViewExtensions.cs
Labels: none

Fix MvxViewExtensions using compile-time type instead of runtime type (#5041)
  MvvmCross/Platforms/Android/Views/MvxFragmentExtensions.cs
  MvvmCross/Presenters/Attributes/IMvxPresentationAttribute.cs
  MvvmCross/Presenters/Attributes/MvxBasePresentationAttribute.cs
  MvvmCross/Views/MvxViewExtensions.cs
  UnitTests/MvvmCross.UnitTest/Platform/MvxViewModelViewTypeFinderTest.cs
Labels: p/android

Use runtime type for resolving default request for a VM
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
Labels: p/android

Fix trimming warnings
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelRequestTranslator.cs
  MvvmCross/Platforms/Android/Views/MvxChildViewModelOwnerExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxTabsFragmentActivity.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  MvvmCross/Platforms/Tvos/Presenters/MvxTvosViewPresenter.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/ViewModels/IMvxViewModel.cs
  MvvmCross/ViewModels/MvxViewModel.cs
  MvvmCross/Views/IMvxViewFinder.cs
  MvvmCross/Views/IMvxViewsContainer.cs
  MvvmCross/Views/MvxViewsContainer.cs
  Projects/Playground/Playground.Droid/Activities/TabsRootView.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/samples

Fix MvxAndroidViewsContainer GetIntentWithKeyFor not using runtime-type to resolve default VM request (#5042)
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelRequestTranslator.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
  MvvmCross/Platforms/Android/Views/MvxChildViewModelOwnerExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxTabsFragmentActivity.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  MvvmCross/Platforms/Tvos/Presenters/MvxTvosViewPresenter.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/ViewModels/IMvxViewModel.cs
  MvvmCross/ViewModels/MvxViewModel.cs
  MvvmCross/Views/IMvxViewFinder.cs
  MvvmCross/Views/IMvxViewsContainer.cs
  MvvmCross/Views/MvxViewsContainer.cs
  Projects/Playground/Playground.Droid/Activities/TabsRootView.cs
Labels: p/ios, p/android, p/mac, p/tvos, p/samples

Update version
  version.json
Labels: none

Revert AddAll method signature
  MvvmCross/Views/IMvxViewsContainer.cs
  MvvmCross/Views/MvxViewsContainer.cs
Labels: none

Revert AddAll method signature (#5043)
  MvvmCross/Views/IMvxViewsContainer.cs
  MvvmCross/Views/MvxViewsContainer.cs
Labels: none

Update version
  version.json
Labels: none

Remove dynamically accessed members attr on IMvxViewModel as it causes IL2113 warning when used in combination with RequiresUnreferencedCode
  MvvmCross/ViewModels/IMvxViewModel.cs
Labels: none

Remove dynamically accessed members attr on IMvxViewModel as it causes IL2113 warning when used in combination with RequiresUnreferencedCode (#5044)
  MvvmCross/ViewModels/IMvxViewModel.cs
Labels: none

Update version
  version.json
Labels: none

Added 2-way binding for UIControl Selected property
  MvvmCross/Platforms/Ios/Binding/MvxIosBindingBuilder.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBinding.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBindingExtensions.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIControlSelectedTargetBinding.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab1ViewModel.cs
  Projects/Playground/Playground.iOS/Main.storyboard
  Projects/Playground/Playground.iOS/Views/Tab1View.cs
  Projects/Playground/Playground.iOS/Views/Tab1View.designer.cs
Labels: p/ios, p/samples

Lint
  MvvmCross/Platforms/Ios/Binding/MvxIosBindingBuilder.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBinding.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBindingExtensions.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIControlSelectedTargetBinding.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab1ViewModel.cs
Labels: p/ios, p/samples

Added 2-way binding for UIControl Selected property (#5047)
  MvvmCross/Platforms/Ios/Binding/MvxIosBindingBuilder.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBinding.cs
  MvvmCross/Platforms/Ios/Binding/MvxIosPropertyBindingExtensions.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIControlSelectedTargetBinding.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab1ViewModel.cs
  Projects/Playground/Playground.iOS/Main.storyboard
  Projects/Playground/Playground.iOS/Views/Tab1View.cs
  Projects/Playground/Playground.iOS/Views/Tab1View.designer.cs
Labels: p/ios, p/samples

Harden runner is now available for win and macos runners
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Switch to attest action instead of attest-sbom
  .github/workflows/release.yml
Labels: p/ci

Move UWP and WinUI into own projects
  Directory.Packages.props
  MvvmCross.Uwp/MvvmCross.Platforms.Uwp.csproj
  MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
  MvvmCross.slnx
  MvvmCross/MvvmCross.csproj
  Projects/Directory.Build.props
  Projects/Directory.Packages.props
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
Labels: p/samples

Fix path on playground proj
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
Labels: p/samples

Update MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
  MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
Labels: none

Update MvvmCross.Uwp/MvvmCross.Platforms.Uwp.csproj
  MvvmCross.Uwp/MvvmCross.Platforms.Uwp.csproj
Labels: none

Update Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
  Projects/Playground/Playground.WinUi3/Playground.WinUi3.csproj
Labels: p/samples

Address review comments
  Directory.Build.props
  MvvmCross.Uwp/MvvmCross.Platforms.Uwp.csproj
  MvvmCross.WinUI/MvvmCross.Platforms.WinUI.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
Labels: p/wpf

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]
