Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

Update SECURITY.md
  SECURITY.md
Labels: t/docs

Update contributing documentation
  CONTRIBUTING.md
Labels: t/docs

Update contributing documentation (#4999)
  CONTRIBUTING.md
Labels: t/docs

Update contributing on how to run unit tests
  CONTRIBUTING.md
Labels: t/docs

Throw errors on package downgrades
  Directory.Build.props
Labels: none

Downgrade material package to avoid downgrade errors
  Directory.Packages.props
Labels: none

Fix package downgrades (#5000)
  Directory.Build.props
  Directory.Packages.props
Labels: none

[Mac] Allow to specify window controller type in addition to name for the MvxWindowPresentationAttribute
  MvvmCross/Platforms/Mac/Presenters/Attributes/MvxWindowPresentationAttribute.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
Labels: p/mac

[Mac] Update documentation for custom window controller usage with MvxWindowPresentationAttribute. Ref.: #5003.
  docs/_documentation/platform/macos/mac-view-presenter.md
Labels: t/docs

Implement modal semantics for the MvxModalPresentation views
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
Labels: p/mac

Update Playground.Mac to test the fixes.
  Projects/Playground/Playground.Core/ViewModels/Navigation/ModalViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Mac/Main.storyboard
  Projects/Playground/Playground.Mac/ModalView.cs
  Projects/Playground/Playground.Mac/ModalView.designer.cs
  Projects/Playground/Playground.Mac/WindowView.cs
Labels: p/samples

Debug code removed as suggested in code review.
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
Labels: p/samples

Update mac view presenter formatter docs according to review.
  docs/_documentation/platform/macos/mac-view-presenter.md
Labels: t/docs

Removed ternary operators nesting and fixed exception message grammer according to the code review.
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
Labels: p/mac

Minor updates of macOS View Presenter docs according to code review.
  docs/_documentation/platform/macos/mac-view-presenter.md
Labels: t/docs

Allow to set window controller type as Type for the MvxWindowPresentationAttribute (#5004)
  MvvmCross/Platforms/Mac/Presenters/Attributes/MvxWindowPresentationAttribute.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  docs/_documentation/platform/macos/mac-view-presenter.md
Labels: t/docs, p/mac

Update to .NET 10 GA
  .github/actions/shared/action.yml
Labels: none

Update copilot steps to use .NET 10 GA
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Update copilot instructions
  .github/copilot-instructions.md
Labels: t/docs

Update to .NET 10 SDK (#5011)
  .github/actions/shared/action.yml
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Labels: t/docs, p/ci

Fix unit tests not running as MTP2 broke
  Directory.Packages.props
  UnitTests/MvvmCross.UnitTest.Common/MvvmCross.UnitTest.Common.csproj
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  global.json
Labels: none

Bump to .NET 10 in tests
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
Labels: none

Fix Unit Tests (#5012)
  Directory.Packages.props
  UnitTests/MvvmCross.UnitTest.Common/MvvmCross.UnitTest.Common.csproj
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  global.json
Labels: none

Update version.json
  version.json
Labels: none

Update version.json
  version.json
Labels: none

Add missing DynamicallyAccessedMembers attributes on delegates
  MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Ios/Core/MvxSceneDelegate.cs
Labels: p/ios

Make linter happy
  MvvmCross/Platforms/Ios/Core/MvxSceneDelegate.cs
Labels: p/ios

Remove duped prop
  Directory.Build.props
Labels: none

Bump minimum targets to support Scene Delegate
  Directory.Build.props
Labels: none

Fix signature of overridden FinishedLaunching method
  MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs
Labels: p/ios

Bump minimum targets to support Scene Delegate (#5023)
  Directory.Build.props
Labels: none

Add missing DynamicallyAccessedMembers attributes on iOS delegates (#5021)
  Directory.Build.props
  MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Ios/Core/MvxSceneDelegate.cs
Labels: p/ios

Update bug report template for version options
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: none

Review fixes
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MultiBackStackViewModel.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
Labels: p/android, p/samples

Lint
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MultiBackStackViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
Labels: p/android, p/samples

Update Projects/Playground/Playground.Droid/Fragments/FluentBindingView.cs
  Projects/Playground/Playground.Droid/Fragments/FluentBindingView.cs
Labels: p/samples

Android multiple back stacks (#5028)
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MultiBackStackViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
  Projects/Playground/Playground.Droid/Resources/layout/MultiBackStackInnerView.xml
  Projects/Playground/Playground.Droid/Resources/layout/MultiBackStackTab1View.xml
  Projects/Playground/Playground.Droid/Resources/layout/MultiBackStackTab2View.xml
  Projects/Playground/Playground.Droid/Resources/layout/MultiBackStackView.xml
  Projects/Playground/Playground.Droid/Resources/layout/RootView.xml
  Projects/Playground/Playground.Droid/Resources/menu/navigation_bar.xml
Labels: p/android, p/samples

Lint
  MvvmCross.Tests/MvxUnitTestCommandHelper.cs
  Projects/Playground/Playground.Droid/Fragments/MultiBackStackView.cs
  build/Program.cs
Labels: p/samples

Fix race conditions in MvxFullBinding
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
  UnitTests/MvvmCross.UnitTest/Binding/Bindings/MvxFullBindingTest.cs
Labels: none

Update MvvmCross/Binding/Bindings/MvxFullBinding.cs
  MvvmCross/Binding/Bindings/MvxFullBinding.cs
Labels: none

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]
