Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]

Add `NSTextView.AttributedString` binding.
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewAttributedStringTargetBinding.cs
Labels: p/mac

Rework Playground.Mac to work with new Microsoft DI.
  Directory.Packages.props
  MvvmCross/Platforms/Mac/Hosting/MvxMacHostBuilder.cs
  MvvmCross/Platforms/Mac/Views/MvxMacViewServiceCollectionExtensions.cs
  Projects/Playground/Playground.Mac/AppDelegate.cs
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
Labels: p/mac, p/samples

dead code removed
  Projects/Playground/Playground.Mac/AppDelegate.cs
Labels: p/samples

Add logger providers as early as possible to service collection
  MvvmCross/Hosting/MvxHostBuilder.cs
Labels: none

Add logger providers as early as possible to service collection (#5123)
  MvvmCross/Hosting/MvxHostBuilder.cs
Labels: none

Update to .NET 10.0.300
  .github/actions/shared/action.yml
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Labels: t/docs, p/ci

Update to .NET 10.0.300 (#5124)
  .github/actions/shared/action.yml
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Labels: t/docs, p/ci

Rework Playground.Mac to work with new Microsoft DI (#5119)
  Directory.Packages.props
  MvvmCross/Platforms/Mac/Hosting/MvxMacHostBuilder.cs
  MvvmCross/Platforms/Mac/Views/MvxMacViewServiceCollectionExtensions.cs
  Projects/Playground/Playground.Mac/AppDelegate.cs
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
Labels: p/mac, p/samples

Improved binding for NSTextView Text and added binding for the NSTextView.AttributedString (#5117)
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Mac/Binding/MvxMacPropertyBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewAttributedStringTargetBinding.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
Labels: p/mac

lint
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewAttributedStringTargetBinding.cs
Labels: p/mac

Add Xamarin.Google.Android.Material to package patterns
  renovate.json
Labels: none

Fix ExecuteOnMainThreadAsync crashing on exception and never completing
  MvvmCross/Base/MvxMainThreadAsyncDispatcher.cs
  UnitTests/MvvmCross.UnitTest/Base/MvxMainThreadAsyncDispatcherTest.cs
  UnitTests/MvvmCross.UnitTest/Mocks/Dispatchers/BackgroundMockMainThreadDispatcher.cs
Labels: none

Address review: drop redundant Task.Run wait, complete sync-throw test matrix
  MvvmCross/Base/MvxMainThreadAsyncDispatcher.cs
  UnitTests/MvvmCross.UnitTest/Base/MvxMainThreadAsyncDispatcherTest.cs
Labels: none

Fix ExecuteOnMainThreadAsync crashing uncatchably and never completing when the dispatched action throws (#5163)
  MvvmCross/Base/MvxMainThreadAsyncDispatcher.cs
  UnitTests/MvvmCross.UnitTest/Base/MvxMainThreadAsyncDispatcherTest.cs
  UnitTests/MvvmCross.UnitTest/Mocks/Dispatchers/BackgroundMockMainThreadDispatcher.cs
Labels: none

docs: add about page content
  docs/about.md
Labels: t/docs

docs: add about page content (#5164)
  docs/about.md
Labels: t/docs

Update workflows env vars
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Update .NET SDK
  .github/actions/shared/action.yml
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Update .NET SDK to 10.0.400
  .github/actions/shared/action.yml
Labels: none

Update to .NET 11 SDK in CI
  .github/actions/shared/action.yml
Labels: none

Update supported TFMs and deprecate out of support versions
  Directory.Build.props
Labels: none

Update .NET SDK to 10.0.400 (#5172)
  .github/actions/shared/action.yml
Labels: none

Try MTP test reporting
  .github/workflows/build.yml
  Directory.Packages.props
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  build/Program.cs
Labels: p/ci

Remove test logger package
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
Labels: none

Fix args after updating
  build/Program.cs
Labels: none

Add back CTRF reports as comment
  .github/workflows/build.yml
Labels: p/ci

Try MTP test reporting (#5170)
  Directory.Packages.props
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  build/Program.cs
Labels: none
