Repository MvvmCross/MvvmCross, changes with the labels that .github/labeler.yml gives for each.
All labels: t/docs, p/ci, p/ios, p/android, p/mac, p/tvos, p/uwp, p/winui, p/wpf, p/android-support, p/plugins, p/samples

Move shared steps into composite actions
  .github/actions/shared-all.yml
  .github/actions/shared-net.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Ew, these need to be in sub folders :(
  .github/actions/shared-all/action.yml
  .github/actions/shared-net.yml
  .github/actions/shared-net/action.yml
Labels: none

Fix path in codeql flow
  .github/workflows/codeql.yml
Labels: p/ci

Fix path in release workflow
  .github/workflows/release.yml
Labels: p/ci

Pin CodeQL version
  .github/workflows/codeql.yml
Labels: p/ci

Fix path in shared-all action
  .github/actions/shared-all/action.yml
Labels: none

Just use one shared action as it doesn't like to be nested
  .github/actions/shared-net/action.yml
  .github/actions/shared/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Checkout cannot be in composite action :(
  .github/actions/shared/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Bump test reporter version
  .github/workflows/build.yml
Labels: p/ci

Revert "Pin CodeQL version"
  .github/workflows/codeql.yml
Labels: p/ci

Move shared steps into composite actions (#4944)
  .github/actions/shared/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

Update dependabot groups
  .github/dependabot.yml
Labels: none

add gh actions to dependabot updates
  .github/dependabot.yml
Labels: none

Remove unused global package version
  Directory.Packages.props
Labels: none

Update dependabot configuration (#4945)
  .github/dependabot.yml
  Directory.Packages.props
Labels: none

Add comprehensive GitHub Copilot instructions for MvvmCross development (#4950)
  .github/copilot-instructions.md
Labels: t/docs

Move nuget props into Directory.Packages.props
  Directory.Build.props
  Directory.Packages.props
Labels: none

Add target defs in build props
  Directory.Build.props
Labels: none

Update targets in projects
  Directory.Build.props
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Plugins/All/MvvmCross.Plugin.All.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/FieldBinding/MvvmCross.Plugin.FieldBinding.csproj
  MvvmCross.Plugins/Json/MvvmCross.Plugin.Json.csproj
  MvvmCross.Plugins/JsonLocalization/MvvmCross.Plugin.JsonLocalization.csproj
  MvvmCross.Plugins/Messenger/MvvmCross.Plugin.Messenger.csproj
  MvvmCross.Plugins/MethodBinding/MvvmCross.Plugin.MethodBinding.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/ResxLocalization/MvvmCross.Plugin.ResxLocalization.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.Tests/MvvmCross.Tests.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross/MvvmCross.csproj
  UnitTests/MvvmCross.UnitTest.Common/MvvmCross.UnitTest.Common.csproj
Labels: p/wpf, p/android-support, p/plugins

Add Linux solution filter
  MvvmCross-linux.slnf
Labels: none

Update cake build to pick up the correct slnf
  build/Program.cs
Labels: none

Add ctrf output to gitignore
  .gitignore
Labels: none

Update targets for build on Linux (#4952)
  .gitignore
  Directory.Build.props
  Directory.Packages.props
  MvvmCross-linux.slnf
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Plugins/All/MvvmCross.Plugin.All.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/FieldBinding/MvvmCross.Plugin.FieldBinding.csproj
  MvvmCross.Plugins/Json/MvvmCross.Plugin.Json.csproj
  MvvmCross.Plugins/JsonLocalization/MvvmCross.Plugin.JsonLocalization.csproj
  MvvmCross.Plugins/Messenger/MvvmCross.Plugin.Messenger.csproj
  MvvmCross.Plugins/MethodBinding/MvvmCross.Plugin.MethodBinding.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/ResxLocalization/MvvmCross.Plugin.ResxLocalization.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.Tests/MvvmCross.Tests.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross/MvvmCross.csproj
  UnitTests/MvvmCross.UnitTest.Common/MvvmCross.UnitTest.Common.csproj
  build/Program.cs
Labels: p/wpf, p/android-support, p/plugins

Add copilot-setup-steps
  .github/actions/shared/action.yml
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Run copilot steps on windows agent allowing to work with all dotnet workloads
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Add net10 targets to Build props
  Directory.Build.props
Labels: none

Install .NET 10 in CI
  .github/actions/shared/action.yml
Labels: none

Set workload version to 10.0.100-rc.1.25458.2
  .github/actions/shared/action.yml
Labels: none

Add .NET 10 targets (#4954)
  .github/actions/shared/action.yml
  Directory.Build.props
Labels: none

Revert "Run copilot steps on windows agent allowing to work with all dotnet workloads"
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Run on ubuntu-latest
  .github/workflows/copilot-setup-steps.yml
Labels: p/ci

Update linux instructions
  .github/copilot-instructions.md
Labels: t/docs

Allow overwriting cached view model instance
  MvvmCross/Platforms/Android/Views/MvxMultipleViewModelCache.cs
Labels: p/android

Clear cached view model if still available in OnResume
  MvvmCross/Platforms/Android/Views/Fragments/MvxBindingFragmentAdapter.cs
Labels: p/android

Addressed PR comment - inlined IMvxMultipleViewModelCache
  MvvmCross/Platforms/Android/Views/Fragments/MvxBindingFragmentAdapter.cs
Labels: p/android

Update Fragment ViewModel caching to prevent stale reuse and memory retention (#4958)
  MvvmCross/Platforms/Android/Views/Fragments/MvxBindingFragmentAdapter.cs
  MvvmCross/Platforms/Android/Views/MvxMultipleViewModelCache.cs
Labels: p/android

Fix more IL warnings
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatRadioGroupSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSearchViewQueryTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewPartialTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewSelectedObjectTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxCompoundButtonCheckedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxExpandableListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxImageViewImageTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxNumberPickerValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceClickTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxToolbarSubtitleBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxVideoViewUriTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewClickBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewFocusChangedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewLongClickBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxWebViewUriTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxBaseUIViewVisibleTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIButtonTitleTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIViewTapTargetBinding.cs
Labels: p/ios, p/android

Update instructions
  .github/copilot-instructions.md
Labels: t/docs

Fix all android IL2026 trimming warnings
  MvvmCross/Binding/Bindings/Target/MvxEventHandlerEventInfoTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventInfoTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxEventNameTargetBinding.cs
  MvvmCross/Binding/Bindings/Target/MvxTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAdapterViewSelectedItemPositionTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatAutoCompleteTextViewPartialTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatAutoCompleteTextViewSelectedObjectTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSearchViewQueryTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAppCompatSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewPartialTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxAutoCompleteTextViewSelectedObjectTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxCompoundButtonCheckedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxExpandableListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxListViewSelectedItemTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxNumberPickerDisplayedValuesTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxNumberPickerValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceValueTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxRatingBarRatingTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSearchViewQueryTextTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSeekBarProgressTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSpinnerSelectedItemBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewFocusTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextFormattedTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextTargetBinding.cs
Labels: p/android

Fix all ios IL2026 trimming warnings
  MvvmCross/Platforms/Ios/Binding/Target/MvxBaseUIDatePickerTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIDatePickerDateTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIDatePickerMinMaxTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIDatePickerTimeTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIPageControlCurrentPageTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISearchBarTextTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISegmentedControlSelectedSegmentTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISliderValueTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIStepperValueTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISwitchOnTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldShouldReturnTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextFocusTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextFieldTextTargetBinding.cs
  MvvmCross/Platforms/Ios/Binding/Target/MvxUITextViewTextTargetBinding.cs
Labels: p/ios

.github/labeler.yml:

't/docs':
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '**/*.md']

't/feature':
  - head-branch: ['^feature', 'feature']

't/bug':
  - head-branch: ['^bug', 'bug']

'p/ci':
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/labeler.yml']

'p/ios':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Ios/**']

'p/android':
  - changed-files:
      - any-glob-to-any-file: ['**/Platforms/Android/**']

'p/mac':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Mac/**' ]

'p/tvos':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Tvos/**' ]

'p/uwp':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Uap/**' ]

'p/winui':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/WunUI/**' ]

'p/wpf':
  - changed-files:
      - any-glob-to-any-file: [ '**/Platforms/Wpf/**', 'MvvmCross.Wpf/**' ]

'p/android-support':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.DroidX/**' ]

'p/plugins':
  - changed-files:
      - any-glob-to-any-file: [ 'MvvmCross.Plugins/**' ]

'p/samples':
  - changed-files:
      - any-glob-to-any-file: [ 'Projects/**' ]
