Repository MvvmCross/MvvmCross, pull requests merged in 2018-04, with the labels that each got.

#2750 MvxUISliderValueTargetBinding: Add missing return
  MvvmCross/Platforms/Ios/Binding/Target/MvxUISliderValueTargetBinding.cs
Labels: Bug, iOS

#2756 Fix MvvmCross.Forms project dependencies
  MvvmCross.sln
Labels: Forms

#2767 Make show and close of iOS views respect Animated
  MvvmCross/Platforms/Ios/Presenters/Attributes/MvxDetailSplitViewPresentationAttribute.cs
  MvvmCross/Platforms/Ios/Presenters/Attributes/MvxMasterSplitViewPresentationAttribute.cs
  MvvmCross/Platforms/Ios/Presenters/Attributes/MvxSplitViewPresentationAttribute.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Views/IMvxSplitViewController.cs
  MvvmCross/Platforms/Ios/Views/MvxSplitViewController.cs
  Projects/Playground/Playground.iOS/Views/SplitDetailNavView.cs
  Projects/Playground/Playground.iOS/Views/SplitDetailView.cs
  Projects/Playground/Playground.iOS/Views/SplitMasterView.cs
  UnitTests/MvvmCross.UnitTest/Mocks/Dispatchers/NavigationMockDispatcher.cs
  docs/_documentation/platform/ios/ios-user-interfaces-approaches.md
  docs/_documentation/platform/ios/ios-view-presenter.md
  docs/_documentation/plugins/ios-sidebar.md
Labels: iOS

#2779 Fix duplicated entry for SplitView attribute on iOS ViewPresenter
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
Labels: iOS

#2780 Added Margin target binding for Android
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidPropertyBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewMarginTargetBinding.cs
Labels: Android, Feature request

#2774 Find resource type based on Android.Runtime.ResourceDesignerAttribute
  MvvmCross/Platforms/Android/Binding/ResourceHelpers/MvxAppResourceTypeFinder.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
  MvvmCross/Platforms/Android/IMvxAndroidGlobals.cs
Labels: Android, Bug

#2775 Fixing issue with CurrentActivity being null in Playground.Droid
  MvvmCross.Android.Support/Fragment/EventSource/MvxEventSourceFragmentActivity.cs
  MvvmCross.Android.Support/V7.AppCompat/EventSource/MvxEventSourceAppCompatActivity.cs
  MvvmCross/Platforms/Android/Views/Base/MvxEventSourceActivity.cs
  MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxApplicationCallbacksCurrentTopActivity.cs
  Projects/Playground/Playground.Droid/Views/SplitRootView.cs
  Projects/Playground/Playground.Droid/Views/TabsRootView.cs
Labels: Android, Bug

#2793 Making it easier to override creation of injected pages
  MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs
  MvvmCross.Forms/Views/MvxFormsExtensions.cs
Labels: Feature request, Forms

#2822 Update Getting-Started and MvvmCross-Overview docs
  docs/_documentation/contributing/contribute.md
  docs/_documentation/fundamentals/viewmodel-lifecycle.md
  docs/_documentation/getting-started/getting-started.md
  docs/_documentation/getting-started/mvvmcross-overview.md
Labels: Documentation
