Repository MvvmCross/MvvmCross, pull requests merged in 2018-02, with the labels that each got.

#2601 #2600 no backstack fragment close does not work hotfix
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platform/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: Android, Bug

#2610 Allow more than 5 childs in MoreNavigationController
  MvvmCross/Platform/iOS/Views/MvxTabBarViewController.cs
Labels: Bug, iOS, tvOS

#2627 Align namespaces: Rename iOS namespaces to Ios
  MvvmCross.Forms/Platform/iOS/Bindings/MvxFormsIosBindingBuilder.cs
  MvvmCross.Forms/Platform/iOS/Core/MvxFormsApplicationDelegate.cs
  MvvmCross.Forms/Platform/iOS/Core/MvxFormsIosSetup.cs
  MvvmCross.Forms/Platform/iOS/Presenters/MvxFormsIosViewPresenter.cs
  MvvmCross.Forms/Platform/iOS/Views/MvxImageViewRenderer.cs
  MvvmCross.Forms/Platform/iOS/Views/MvxPageRenderer.cs
  MvvmCross.Plugins/Color/Platform/iOS/MvxColorExtensions.cs
  MvvmCross.Plugins/Color/Platform/iOS/MvxIosColor.cs
  MvvmCross.Plugins/Color/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/DownloadCache/Platform/iOS/MvxDownloadCacheConfiguration.cs
  MvvmCross.Plugins/DownloadCache/Platform/iOS/MvxIosImage.cs
  MvvmCross.Plugins/DownloadCache/Platform/iOS/MvxIosLocalFileImageLoader.cs
  MvvmCross.Plugins/DownloadCache/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/Email/Platform/iOS/MvxComposeEmailTask.cs
  MvvmCross.Plugins/Email/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/File/Platform/iOS/MvxIosFileStore.cs
  MvvmCross.Plugins/File/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/Location/Platform/iOS/MvxIosLocationWatcher.cs
  MvvmCross.Plugins/Location/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/Network/Platform/iOS/MvxReachability.cs
  MvvmCross.Plugins/Network/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/PhoneCall/Platform/iOS/MvxPhoneCallTask.cs
  MvvmCross.Plugins/PhoneCall/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/PictureChooser/Platform/iOS/MvxImagePickerTask.cs
  MvvmCross.Plugins/PictureChooser/Platform/iOS/MvxInMemoryImageValueConverter.cs
  MvvmCross.Plugins/PictureChooser/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/PictureChooser/Platform/iOS/UIImageHelpers.cs
  MvvmCross.Plugins/ResourceLoader/Platform/iOS/MvxIosResourceLoader.cs
  MvvmCross.Plugins/ResourceLoader/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/Share/Platform/iOS/MvxShareTask.cs
  MvvmCross.Plugins/Share/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/Visibility/Platform/Ios/MvxIosVisibility.cs
  MvvmCross.Plugins/Visibility/Platform/iOS/Plugin.cs
  MvvmCross.Plugins/WebBrowser/Platform/iOS/MvxWebBrowserTask.cs
  MvvmCross.Plugins/WebBrowser/Platform/iOS/Plugin.cs
  Projects/Playground/Playground.Forms.iOS/AppDelegate.cs
  Projects/Playground/Playground.Forms.iOS/Setup.cs
Labels: Future cleanup, iOS

#2642 MvxNotifyTask improvements
  MvvmCross/ViewModels/MvxNotifyTask.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
Labels: Code improvement, Feature request

#2590 Blog post & Migration Guide for v6
  docs/_documentation/upgrading/upgrade-to-mvvmcross-60.md
  docs/_posts/2018-2-6-mvvmcross-6.0.0-release.md
Labels: Documentation

#2644 MvxBaseTableViewSource: Fix wrong height for xib based cells
  MvvmCross/Platform/Ios/Binding/Views/MvxBaseTableViewSource.cs
Labels: Bug, iOS
