Repository MvvmCross/MvvmCross, pull requests merged in 2018-03, with the labels that each got.

#2655 Documentation: MvxNotifyTask, ViewModel-Lifecycle location, Samples
  docs/_documentation/advanced/mvxnotifytask.md
  docs/_documentation/contributing/acknowledgements.md
  docs/_documentation/fundamentals/dependency-injection.md
  docs/_documentation/fundamentals/inversion-of-control-ioc.md
  docs/_documentation/fundamentals/logging.md
  docs/_documentation/fundamentals/testing.md
  docs/_documentation/fundamentals/value-combiners.md
  docs/_documentation/fundamentals/value-converters.md
  docs/_documentation/fundamentals/view-presenters.md
  docs/_documentation/fundamentals/viewmodel-lifecycle.md
  docs/_documentation/getting-started/getting-started.md
  docs/_documentation/samples/samples.md
Labels: Documentation

#2660 Delete empty IMvxModalIosView
  MvvmCross.Plugins/Sidebar/IMvxModalIosView.cs
Labels: Cleanup, Plugins, iOS

#2673 Update changelog
  CHANGELOG.md
Labels: Documentation

#2677 Update docs broken Playground sample link
  docs/_posts/2017-11-09-mvvmcross-56-release.md
Labels: Documentation

#2682 [iOS] Update UITextField binding when editing did end (Text Replacement fix)
  MvvmCross/Platform/Ios/Binding/Target/MvxUITextFieldTextTargetBinding.cs
Labels: iOS

#2705 V6 blog post & migration guide
  docs/_documentation/plugins/plugins-development.md
  docs/_documentation/upgrading/upgrade-to-mvvmcross-60.md
  docs/_posts/2018-2-6-mvvmcross-6.0.0-release.md
Labels: Documentation

#2709 ItemTemplateId added to IMvxTemplateSelector
  MvvmCross.Android.Support/V7.RecyclerView/AttributeHelpers/MvxRecyclerViewAttributeExtensions.cs
  MvvmCross.Android.Support/V7.RecyclerView/ItemTemplates/IMvxTemplateSelector.cs
  MvvmCross.Android.Support/V7.RecyclerView/ItemTemplates/MvxTemplateSelector.cs
  MvvmCross.Android.Support/V7.RecyclerView/MvxRecyclerView.cs
Labels: Android, Feature request

#2711 Android Dialogs: Fix close & do not keep references to instances
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross.Plugins/Json/Preserve.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: Android, AndroidSupport, Bug

#2728 Android add MvxViewVodelRequest to fragment forward life cycle events
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  docs/_documentation/platform/android/android-view-presenter.md
Labels: Android, AndroidSupport, Bug, Feature request

#2729 Make sure Forms is loaded when not using a splashscreen
  MvvmCross.Forms/Platforms/Android/Views/MvxFormsAppCompatActivity.cs
  MvvmCross.Forms/Platforms/Android/Views/MvxFormsApplicationActivity.cs
Labels: Android, Bug, Forms

#2730 Fixes #2722
  MvvmCross.Android.Support/Design/MvxBottomSheetDialogFragment.cs
  MvvmCross.Android.Support/Fragment/MvxDialogFragment.cs
  MvvmCross.Android.Support/Fragment/MvxFragment.cs
  MvvmCross.Android.Support/V14.Preference/MvxPreferenceFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxBrowseSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxDetailsSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxGuidedStepSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxHeadersSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxPlaybackSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxRowsSupportFragment.cs
  MvvmCross.Android.Support/V17.Leanback/Fragments/MvxSearchSupportFragment.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatDialogFragment.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross.Android.Support/V7.Preference/MvxPreferenceFragmentCompat.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: AndroidSupport, Bug

#2735 Added generic versions of MvxApplication for WPF and UWP
  MvvmCross.Forms/Platforms/Uap/Views/MvxWindowsApplication.cs
  MvvmCross/Platforms/Uap/Views/MvxApplication.cs
  MvvmCross/Platforms/Wpf/Views/MvxApplication.cs
  Projects/Playground/Playground.Forms.Uwp/App.xaml
  Projects/Playground/Playground.Forms.Uwp/App.xaml.cs
  Projects/Playground/Playground.Uwp/App.xaml
  Projects/Playground/Playground.Uwp/App.xaml.cs
  Projects/Playground/Playground.Uwp/Views/RootView.xaml
  Projects/Playground/Playground.Wpf/App.xaml.cs
Labels: UWP, WPF

#2739 Improvements for v6 docs
  docs/_documentation/plugins/getting-started.md
  docs/_documentation/upgrading/upgrade-to-mvvmcross-60.md
  docs/_posts/2018-2-6-mvvmcross-6.0.0-release.md
Labels: Documentation

#2744 Add doc about linking
  docs/_documentation/fundamentals/linking.md
Labels: Documentation

#2747 Mark iOS and tvOS AppDelegate windows as virtual
  MvvmCross/Platforms/Ios/Core/MvxApplicationDelegate.cs
  MvvmCross/Platforms/Tvos/Core/MvxApplicationDelegate.cs
Labels: iOS, tvOS
