Repository MvvmCross/MvvmCross, pull requests merged in 2018-08, with the labels that each got.

#3054 Repair NullReferenceException with SelectedViewController is null.
  MvvmCross/Platforms/Ios/Views/MvxTabBarViewController.cs
Labels: Bug, iOS

#3056 Give some love to our Network plugin
  MvvmCross.Plugins/Network/Rest/MvxRestClient.cs
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
Labels: Bug, Code improvement, Plugins

#3055 Fix memory leaks on IMvxMultipleViewModelCache
  MvvmCross.Android.Support/Fragment/MvxFragmentExtensions.cs
  MvvmCross/Platforms/Android/Views/Fragments/MvxFragmentExtensions.cs
Labels: Android, AndroidSupport, Bug

#3045 documentation: MvxRecyclerView
  docs/_documentation/platform/android/android-recyclerview.md
Labels: AndroidSupport, Documentation

#3058 Using ExceptionDispatchInfo to capture exception
  MvvmCross/Core/MvxSetupSingleton.cs
Labels: Code improvement

#3060 Documentation/android spinner
  docs/_documentation/platform/android/android-recyclerview.md
  docs/_documentation/platform/android/android-spinner.md
Labels: Android, Documentation

#3044 Adding MvxNavigationViewModel to remove injected NavigationService and LogProvider
  MvvmCross/ViewModels/IMvxLogViewModel.cs
  MvvmCross/ViewModels/IMvxNavigationViewModel.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxNavigationViewModel.cs
  MvvmCross/ViewModels/MvxViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/BaseViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Bindings/CustomBindingViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Bindings/DictionaryBindingViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/MainViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/ChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MixedNavFirstViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MixedNavMasterDetailViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MixedNavMasterRootContentViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MixedNavResultDetailViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/MixedNavTabsViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/ModalNavViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/ModalViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/NestedChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/NestedModalViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/OverrideAttributeViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SecondChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SheetViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SplitDetailNavViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SplitDetailViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SplitMasterViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/SplitRootViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab1ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab2ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Tab3ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/TabsRootBViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/TabsRootViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/WindowChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/WindowViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/SharedElements/SharedElementRootChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/SharedElements/SharedElementRootViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/SharedElements/SharedElementSecondChildViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/SharedElements/SharedElementSecondViewModel.cs
  UnitTests/MvvmCross.UnitTest/Mocks/ViewModels/NavigationTestViewModel.cs
  UnitTests/MvvmCross.UnitTest/ViewModels/MvxNavigationViewModelTest.cs
Labels: Code improvement

#3032 Fix crash when switching back to the app after Permission change
  MvvmCross.Forms/Platforms/Android/Core/MvxFormsAndroidSetup.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
Labels: Android, Bug, Forms

#3069 Fix failing MvxIocPropertyInjectionTest
  UnitTests/MvvmCross.UnitTest/Base/MvxIoCPropertyInjectionTest.cs
Labels: Continuous Integration

#3046 Adding cancel support through navigation
  MvvmCross/Navigation/EventArguments/ChangePresentationEventArgs.cs
  MvvmCross/Navigation/EventArguments/IMvxNavigateEventArgs.cs
  MvvmCross/Navigation/EventArguments/MvxCancelEventArgs.cs
  MvvmCross/Navigation/EventArguments/NavigateEventArgs.cs
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/ViewModels/IMvxViewModelLoader.cs
  MvvmCross/ViewModels/IMvxViewModelLocator.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxNavigationViewModel.cs
  MvvmCross/ViewModels/MvxViewModelLoader.cs
  UnitTests/MvvmCross.UnitTest/Navigation/NavigationServiceTests.cs
  UnitTests/MvvmCross.UnitTest/Navigation/RoutingServiceTests.cs
  UnitTests/MvvmCross.UnitTest/ViewModels/MvxDefaultViewModelLocatorTest.cs
  UnitTests/MvvmCross.UnitTest/ViewModels/MvxViewModelLoaderTest.cs
Labels: Code improvement

#3061 Add Codeowners
  .github/CODEOWNERS
Labels: Documentation

#3082 Fix TipCalc Core navigation link
  docs/_documentation/tutorials/tipcalc/the-core-project.md
Labels: Documentation
