Repository MvvmCross/MvvmCross, pull requests merged in 2018-12, with the labels that each got.

#3227 Documentation: Updated available platforms for Network plugin
  docs/_documentation/plugins/network.md
Labels: Documentation

#3220 Prevents multiple taps on image in UIImagePickerController crash app
  MvvmCross.Plugins/PictureChooser/Platforms/Ios/MvxImagePickerTask.cs
Labels: Bug, iOS

#3226 Cache Activity in MvxCachingFragmentStatePagerAdapter
  MvvmCross.Android.Support/Fragment/MvxCachingFragmentStatePagerAdapter.cs
Labels: Android, Bug
