Repository MvvmCross/MvvmCross, pull requests merged in 2018-10, with the labels that each got.

#3128 Add ability to use tags from attributes
  Directory.build.props
  MvvmCross.Android.Support/Fragment/MvxViewPagerFragmentInfo.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxViewPagerFragmentPresentationAttribute.cs
  build.cake
  docs/_documentation/platform/android/android-view-presenter.md
Labels: AndroidSupport

#3142 Align all presentation hints
  MvvmCross/Presenters/Hints/MvxClosePresentationHint.cs
  MvvmCross/Presenters/Hints/MvxPagePresentationHint.cs
  MvvmCross/Presenters/Hints/MvxPopPresentationHint.cs
  MvvmCross/Presenters/Hints/MvxPopRecursivePresentationHint.cs
  MvvmCross/Presenters/Hints/MvxPopToRootPresentationHint.cs
  MvvmCross/Presenters/Hints/MvxRemovePresentationHint.cs
  MvvmCross/ViewModels/MvxPresentationHint.cs
Labels: Code improvement

#3166 Switch fragment host visibility exception to warning message
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: Android, AndroidSupport, Code improvement

#3162 Add FillTargetFactories and FillBindingNames in Platforms.Forms.WPF Setup
  MvvmCross.Forms.Wpf/Platforms/Wpf/Core/MvxFormsWindowsSetup.cs
Labels: Forms, WPF

#3176 Update namespace for mvx:Bi.nd on WPF
  docs/_documentation/fundamentals/data-binding.md
Labels: Documentation, WPF

#3174 Change MvxItemTemplateSelector to MvxTemplateSelector
  docs/_documentation/platform/android/android-recyclerview.md
Labels: Documentation

#3159 Add support for more control over Android PopBackStackImmediate on fragments
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxAndroidPresentationAttributeExtensions.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxPopBackStack.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/FragmentCloseViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Fragments/FragmentCloseView.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Droid/Resources/layout/FragmnetCloseView.axml
  Projects/Playground/Playground.Droid/Resources/layout/RootView.axml
  docs/_documentation/platform/android/android-view-presenter.md
Labels: Android, AndroidSupport
