Repository MvvmCross/MvvmCross, pull requests merged in 2018-09, with the labels that each got.

#3087 Update mvvmcross-overview.md
  docs/_documentation/getting-started/mvvmcross-overview.md
Labels: Documentation

#3088 Fixed links to code and documentation
  docs/_documentation/fundamentals/view-presenters.md
Labels: Documentation

#3084 Fix bug preventing Playground.Droid from starting
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
Labels: Bug

#3096 mvx:Lang and mvx:Bind crashes in Setter Value
  MvvmCross.Forms/Bindings/MvxBindExtension.cs
  MvvmCross.Forms/Bindings/MvxLangExtension.cs
  Projects/Playground/Playground.Core/Resources/Text.json
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Forms.UI/Pages/RootPage.xaml
Labels: Bug

#3085 Fix issues when pressing back button on splash screen
  MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs
Labels: Android

#3097 Playground.Droid: Remove incorrect button on SplitDetailNavView
  Projects/Playground/Playground.Droid/Resources/layout/SplitDetailNavView.axml
Labels: Samples

#3086 Android support for the MvxPagePresentationHint.
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Presenters/Hints/MvxPagePresentationHint.cs
  Projects/Playground/Playground.Droid/Resources/layout/Tab1View.axml
Labels: AndroidSupport, Feature request

#3103 Fix views namespaces
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
Labels: Android, Bug

#3107 Blog post for 6.2 release
  docs/_documentation/fundamentals/value-converters.md
  docs/_posts/2018-9-17-mvvmcross-6.2.0-release.md
Labels: Documentation

#3067 Update data-binding.md: fixed typo (#2982)
  docs/_documentation/fundamentals/data-binding.md
Labels: Documentation

#3112 Update viewmodel-lifecycle.md
  docs/_documentation/fundamentals/viewmodel-lifecycle.md
Labels: Documentation

#3119 FragmentJavaName centralized
  MvvmCross.Android.Support/Fragment/MvxCachingFragmentPagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxCachingFragmentStatePagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxFragmentPagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxFragmentStatePagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxTabsFragmentActivity.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/MvxFragmentExtensions.cs
Labels: Android, AndroidSupport, Cleanup, Code improvement

#3120 Update caching PagerAdapter to AndroidX implementation
  MvvmCross.Android.Support/Fragment/MvxCachingFragmentPagerAdapter.cs
Labels: AndroidSupport, Bug

#3127 Added a protected FrameworkElementsDictionary property to MvxWpfViewP…
  MvvmCross/Platforms/Wpf/Presenters/MvxWpfViewPresenter.cs
Labels: Bug, Code improvement, WPF
