Repository MvvmCross/MvvmCross, pull requests merged in 2018-05, with the labels that each got.

#2835 Revitalize Tipcalc tutorial
  docs/_documentation/tutorials/tipcalc/a-note-about-views-and-viewmodels.md
  docs/_documentation/tutorials/tipcalc/a-universal-windows-app-ui-project.md
  docs/_documentation/tutorials/tipcalc/a-windows-universal-app-platform-project.md
  docs/_documentation/tutorials/tipcalc/a-wpf-ui-project.md
  docs/_documentation/tutorials/tipcalc/a-xamarin-forms-version.md
  docs/_documentation/tutorials/tipcalc/a-xamarinandroid-ui-project.md
  docs/_documentation/tutorials/tipcalc/a-xamarinios-ui-project.md
  docs/_documentation/tutorials/tipcalc/the-core-project.md
  docs/_documentation/tutorials/tipcalc/the-tip-calc-navigation.md
  docs/_documentation/tutorials/tipcalc/the-tip-calc-tutorial.md
  docs/_documentation/tutorials/tipcalc/tip-calculator-a-recap.md
  docs/assets/img/tutorials/tipcalc/TipCalc_Android_Styled.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Forms_Android.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Forms_iOS.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Touch_Design.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Touch_Sim.png
  docs/assets/img/tutorials/tipcalc/TipCalc_UWP.png
  docs/assets/img/tutorials/tipcalc/TipCalc_UWP_designer.png
  docs/assets/img/tutorials/tipcalc/TipCalc_UWP_landscape.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WPF.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WP_Designer.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WP_Emu.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WindowsCommonWindowsPhone_Designer.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WindowsCommonWindowsPhone_Emu.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WindowsCommonWindows_Designer.png
  docs/assets/img/tutorials/tipcalc/TipCalc_WindowsCommonWindows_Emu.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Wpf_Designer.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Wpf_Run.png
Labels: Documentation

#2845 TipCalc Tutorial: Assets improvements & typos
  docs/_documentation/tutorials/tipcalc/a-xamarin-forms-version.md
  docs/_documentation/tutorials/tipcalc/a-xamarinios-ui-project.md
  docs/assets/img/tutorials/tipcalc/TipCalc_Android_Styled.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Forms_iOS.png
  docs/assets/img/tutorials/tipcalc/TipCalc_Touch_Sim.png
Labels: Documentation

#2849 Updates "Requesting presentation changes" documentation for MvvmCross 6
  docs/_documentation/fundamentals/view-presenters.md
Labels: Documentation

#2850 Fix usings in TipCalcTutorial
  docs/_documentation/tutorials/tipcalc/the-core-project.md
Labels: Documentation

#2844 Fixing crash on UWP in Release due to plugin
  MvvmCross/Core/MvxSetup.cs
Labels: Bug, UWP

#2855 Implement MvxWindowsPage.ClearBackStack
  MvvmCross/Platforms/Uap/Views/MvxWindowsPage.cs
Labels: UWP

#2861 documentation: Added UIRefreshControl docs
  docs/_documentation/platform/ios/ios-uirefreshcontrol.md
Labels: Documentation

#2878 documentation: add swipe to refresh android docs
  docs/_documentation/platform/android/android-swipe-refresh.md
Labels: Documentation
