Repository MvvmCross/MvvmCross, pull requests merged in 2019-10, with the labels that each got.

#3590 Getting plugin types safely
  MvvmCross/Core/MvxSetup.cs
Labels: p/plugins, t/bug

#3596 Add netcoreapp3.0 support
  MvvmCross.Forms.Wpf/MvvmCross.Forms.Platforms.Wpf.csproj
  MvvmCross.Forms/MvvmCross.Forms.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross.sln
  MvvmCross/MvvmCross.csproj
  Projects/Playground/Playground.Forms.WpfCore/App.xaml
  Projects/Playground/Playground.Forms.WpfCore/App.xaml.cs
  Projects/Playground/Playground.Forms.WpfCore/MainWindow.xaml
  Projects/Playground/Playground.Forms.WpfCore/MainWindow.xaml.cs
  Projects/Playground/Playground.Forms.WpfCore/Playground.Forms.WpfCore.csproj
  Projects/Playground/Playground.WpfCore/App.xaml
  Projects/Playground/Playground.WpfCore/App.xaml.cs
  Projects/Playground/Playground.WpfCore/Assets/MvvmCross-logo.png
  Projects/Playground/Playground.WpfCore/MainWindow.xaml
  Projects/Playground/Playground.WpfCore/MainWindow.xaml.cs
  Projects/Playground/Playground.WpfCore/Playground.WpfCore.csproj
  Projects/Playground/Playground.WpfCore/Views/ChildView.xaml
  Projects/Playground/Playground.WpfCore/Views/ChildView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/ModalView.xaml
  Projects/Playground/Playground.WpfCore/Views/ModalView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/NestedModalView.xaml
  Projects/Playground/Playground.WpfCore/Views/NestedModalView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/RootView.xaml
  Projects/Playground/Playground.WpfCore/Views/RootView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/SecondChildView.xaml
  Projects/Playground/Playground.WpfCore/Views/SecondChildView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/WindowChildView.xaml
  Projects/Playground/Playground.WpfCore/Views/WindowChildView.xaml.cs
  Projects/Playground/Playground.WpfCore/Views/WindowView.xaml
  Projects/Playground/Playground.WpfCore/Views/WindowView.xaml.cs
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.Network.UnitTest/MvvmCross.Plugins.Network.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  azure-pipelines.yml
  global.json
Labels: p/wpf, t/feature

#3613 Corrected misspelling of Recycler
  docs/_documentation/platform/android/android-recyclerview.md
Labels: t/docs

#3610 Fix NullReferenceException in MvxAndroidBindingContextHelpers
  MvvmCross/Platforms/Android/Binding/BindingContext/MvxAndroidBindingContextHelpers.cs
Labels: p/android, t/bug
