Repository MvvmCross/MvvmCross, pull requests merged in 2019-09, with the labels that each got.

#3397 Switch to Azure Pipelines
  Directory.build.props
  appveyor.yml
  azure-pipelines.yml
  build.cake
  install-android-sdk.ps1
  tools/packages.config
Labels: p/ci

#3525 Don't try to sign packages for Pull Requests
  build.cake
Labels: p/ci

#3533 MvvmCross 6.4.0 blog post
  docs/_posts/2019-9-9-mvvmcross-6.4.0-release.md
Labels: t/docs

#3553 Ci/build script updates
  build.cake
  tools/packages.config
Labels: p/ci

#3556 Stop using dynamic
  MvvmCross/Logging/LogProviders/Log4NetLogProvider.cs
  MvvmCross/MvvmCross.csproj
Labels: t/maintenance

#3557 Fix some comments and obsolete warning
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Platforms/Android/Core/MvxAndroidSetup.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidSharedElements.cs
  MvvmCross/Platforms/Ios/Core/MvxIosSetup.cs
  MvvmCross/Platforms/Mac/Core/MvxMacSetup.cs
  MvvmCross/Platforms/Tizen/Core/MvxTizenSetup.cs
  MvvmCross/Platforms/Tvos/Core/MvxTvosSetup.cs
  MvvmCross/Platforms/Uap/Core/MvxWindowsSetup.cs
Labels: t/maintenance

#3573 Fix MvxLayoutInflater throwing NoSuchFieldException on Android Q
  Directory.build.targets
  MvvmCross.Android.Support/Core.UI/MvvmCross.Droid.Support.Core.UI.csproj
  MvvmCross.Android.Support/Core.Utils/MvvmCross.Droid.Support.Core.Utils.csproj
  MvvmCross.Android.Support/Design/MvvmCross.Droid.Support.Design.csproj
  MvvmCross.Android.Support/Fragment/MvvmCross.Droid.Support.Fragment.csproj
  MvvmCross.Android.Support/V14.Preference/MvvmCross.Droid.Support.V14.Preference.csproj
  MvvmCross.Android.Support/V17.Leanback/MvvmCross.Droid.Support.V17.Leanback.csproj
  MvvmCross.Android.Support/V7.AppCompat/MvvmCross.Droid.Support.V7.AppCompat.csproj
  MvvmCross.Android.Support/V7.Preference/MvvmCross.Droid.Support.V7.Preference.csproj
  MvvmCross.Android.Support/V7.RecyclerView/MvvmCross.Droid.Support.V7.RecyclerView.csproj
  MvvmCross.Forms/MvvmCross.Forms.csproj
  MvvmCross.Forms/Platforms/Tizen/Core/MvxFormsTizenSetup.cs
  MvvmCross.Plugins/Accelerometer/MvvmCross.Plugin.Accelerometer.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Email/MvvmCross.Plugin.Email.csproj
  MvvmCross.Plugins/File/MvvmCross.Plugin.File.csproj
  MvvmCross.Plugins/Location.Fused/MvvmCross.Plugin.Location.Fused.csproj
  MvvmCross.Plugins/Location/MvvmCross.Plugin.Location.csproj
  MvvmCross.Plugins/Network/MvvmCross.Plugin.Network.csproj
  MvvmCross.Plugins/PhoneCall/MvvmCross.Plugin.PhoneCall.csproj
  MvvmCross.Plugins/PictureChooser/MvvmCross.Plugin.PictureChooser.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Share/MvvmCross.Plugin.Share.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.Plugins/WebBrowser/MvvmCross.Plugin.WebBrowser.csproj
  MvvmCross.sln
  MvvmCross/MvvmCross.csproj
  MvvmCross/Platforms/Android/Binding/Views/MvxLayoutInflater.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Droid/Properties/AndroidManifest.xml
  Projects/Playground/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  Projects/Playground/Playground.Forms.Droid/Properties/AndroidManifest.xml
  XamarinForms.targets
  XamarinFormsWpf.targets
  global.json
Labels: p/android, t/bug

#3581 Bump to latest version of MSBuild SDK Extras
  global.json
Labels: dependencies, p/ci

#3583 Update Play Services in Location Fused plugin
  MvvmCross.Plugins/Location.Fused/FusedLocationHandler.cs
  MvvmCross.Plugins/Location.Fused/MvvmCross.Plugin.Location.Fused.csproj
  MvvmCross.Plugins/Location.Fused/MvxAndroidFusedLocationWatcher.cs
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Core/ViewModels/Location/LocationViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Activities/RootView.cs
  Projects/Playground/Playground.Droid/Fragments/LocationView.cs
  Projects/Playground/Playground.Droid/MainApplication.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Droid/Properties/AndroidManifest.xml
  Projects/Playground/Playground.Droid/Resources/layout/RootView.axml
  Projects/Playground/Playground.Droid/Resources/layout/location.axml
  Projects/Playground/Playground.Droid/Setup.cs
Labels: p/plugins
