Repository MvvmCross/MvvmCross, pull requests merged in 2019-04, with the labels that each got.

#3364 Fix null reference in Target Binding when using ValueType
  MvvmCross/Binding/Bindings/Target/MvxTargetBinding.cs
Labels: t/bug

#3363 Fix control being disposed before unhooking event handlers
  MvvmCross/Platforms/Ios/Binding/Target/MvxUIControlTargetBinding.cs
Labels: t/bug

#3362 Make TextView Text target binding use SetText
  MvvmCross/Platforms/Android/Binding/Target/MvxTextViewTextTargetBinding.cs
Labels: p/android, t/bug

#3361 Allow override of built in Binding Target Factories
  MvvmCross/Binding/MvxBindingBuilder.cs
Labels: p/android, t/bug

#3365 Fix log format crashing for MvxBindingLog
  MvvmCross/Binding/MvxBindingLog.cs
Labels: t/bug

#3370 Update Swipe to Refresh doc
  docs/_documentation/platform/android/android-swipe-refresh.md
Labels: t/docs
