Repository MvvmCross/MvvmCross, pull requests merged in 2019-08, with the labels that each got.

#3456 Replace MvxColor with System.Drawing.Color
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Color/MvxARGBValueConverter.cs
  MvvmCross.Plugins/Color/MvxColorValueConverter.cs
  MvvmCross.Plugins/Color/MvxHexParser.cs
  MvvmCross.Plugins/Color/MvxNativeColorValueConverter.cs
  MvvmCross.Plugins/Color/MvxRGBIntColorValueConverter.cs
  MvvmCross.Plugins/Color/MvxRGBValueConverter.cs
  MvvmCross.Plugins/Color/Platforms/Android/MvxAndroidColor.cs
  MvvmCross.Plugins/Color/Platforms/Android/MvxColorExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Ios/MvxColorExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Ios/MvxIosColor.cs
  MvvmCross.Plugins/Color/Platforms/Uap/MvxStoreColor.cs
  MvvmCross.Plugins/Color/Platforms/Uap/MvxStoreColorExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Wpf/MvxColorExtensions.cs
  MvvmCross.Plugins/Color/Platforms/Wpf/MvxWpfColor.cs
  MvvmCross/MvvmCross.csproj
  MvvmCross/UI/IMvxNativeColor.cs
  MvvmCross/UI/MvxColor.cs
  MvvmCross/UI/MvxColors.cs
  Projects/Playground/Playground.Core/ViewModels/Issues/CollectionViewModel.cs
  UnitTests/MvvmCross.UnitTest/Base/UI/MvxColorTests.cs
  UnitTests/Plugins.Color.UnitTest/MvxColorValueConverterTest.cs
  UnitTests/Plugins.Color.UnitTest/MvxRgbIntValueConverterTest.cs
  UnitTests/Plugins.Color.UnitTest/MvxRgbaValueConverterTest.cs
Labels: t/breaking

#3510 Add more Android Target bindings
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidPropertyBinding.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidPropertyBindingExtensions.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxVideoViewUriTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxViewFocusChangedTargetbinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxWebViewHtmlTargetBinding.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxWebViewUriTargetBinding.cs
Labels: p/android

#3511 Fix ctor name in target binding
  MvvmCross/Platforms/Android/Binding/Target/MvxViewFocusChangedTargetbinding.cs
Labels: p/android, t/bug

#3509 Update github-pages gem
  docs/Gemfile.lock
Labels: t/docs

#3487 RequestTranslator ignores Presentation/Parameter values
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidViewModelRequestTranslator.cs
  MvvmCross/Platforms/Android/Views/MvxAndroidViewsContainer.cs
  MvvmCross/Platforms/Android/Views/MvxChildViewModelOwnerExtensions.cs
Labels: t/breaking, t/bug

#3501 ViewPager ignores Presentation Values
  MvvmCross.Android.Support/Fragment/MvxCachingFragmentStatePagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxFragmentPagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxFragmentStatePagerAdapter.cs
  MvvmCross.Android.Support/Fragment/MvxViewPagerFragmentInfo.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatViewPresenter.cs
Labels: t/breaking

#3518 Prevent null reference when trying to look up latest binding context
  MvvmCross/Platforms/Android/Binding/BindingContext/MvxAndroidBindingContextHelpers.cs
Labels: p/android, t/bug
