Repository MvvmCross/MvvmCross, pull requests merged in 2019-12, with the labels that each got.

#3644 Fix loader exception message.
  MvvmCross/IoC/MvxTypeExtensions.cs
Labels: t/bug

#3656 Refactor #3649: Change MvxAndroidBindingResource to be registered and used with the IoC
  MvvmCross/Platforms/Android/Binding/Binders/MvxAndroidViewBinder.cs
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/Platforms/Android/Binding/ResourceHelpers/MvxAndroidBindingResource.cs
  MvvmCross/Platforms/Android/Binding/Views/MvxAttributeHelpers.cs
Labels: p/android

#3651 MvvmCross.Plugin.Location.Fused refactoring
  MvvmCross.Plugins/Location.Fused/FusedLocationHandler.cs
  MvvmCross.Plugins/Location.Fused/MvxAndroidFusedLocationWatcher.cs
Labels: p/android-support, p/plugins

#3667 Mvx bundle optimizations
  MvvmCross/ViewModels/MvxViewModelExtensions.cs
Labels: t/maintenance

#3665 Fix CurrentTopActivity returning null when App in background
  MvvmCross/Platforms/Android/MvxJavaObjectExtensions.cs
  MvvmCross/Platforms/Android/Views/MvxApplicationCallbacksCurrentTopActivity.cs
Labels: p/android
