Repository MvvmCross/MvvmCross, pull requests merged in 2019-05, with the labels that each got.

#3339 Add attribute to show page on iOS
  MvvmCross/Platforms/Ios/Presenters/Attributes/MvxPagePresentationAttribute.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Views/IMvxPageViewController.cs
  MvvmCross/Platforms/Ios/Views/MvxBasePageViewController.cs
  MvvmCross/Platforms/Ios/Views/MvxPageViewController.cs
  MvvmCross/Platforms/Tvos/Presenters/Attributes/MvxPagePresentationAttribute.cs
  MvvmCross/Platforms/Tvos/Presenters/MvxTvosViewPresenter.cs
  MvvmCross/Platforms/Tvos/Views/IMvxPageViewController.cs
  MvvmCross/Platforms/Tvos/Views/MvxBasePageViewController.cs
  MvvmCross/Platforms/Tvos/Views/MvxPageViewController.cs
  MvvmCross/ViewModels/IMvxPageViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Page1ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Page2ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/Page3ViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/Navigation/PagesRootViewModel.cs
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.iOS/Main.storyboard
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
  Projects/Playground/Playground.iOS/Views/Page1View.cs
  Projects/Playground/Playground.iOS/Views/Page1View.designer.cs
  Projects/Playground/Playground.iOS/Views/Page2View.cs
  Projects/Playground/Playground.iOS/Views/Page2View.designer.cs
  Projects/Playground/Playground.iOS/Views/Page3View.cs
  Projects/Playground/Playground.iOS/Views/Page3View.designer.cs
  Projects/Playground/Playground.iOS/Views/PagesRootView.cs
  Projects/Playground/Playground.iOS/Views/PagesRootView.designer.cs
  Projects/Playground/Playground.iOS/Views/RootView.cs
  Projects/Playground/Playground.iOS/Views/RootView.designer.cs
Labels: p/ios

#3392 Don't set transition elements when there are none
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: p/android

#3382 Enhanced tap compatibility for UITextField in MvxGestureRecognizerBeh…
  MvvmCross/Platforms/Ios/Binding/Views/Gestures/MvxGestureRecognizerBehavior.cs
Labels: p/ios

#3398 Fix how C# code snippet is viewed
  docs/_documentation/platform/android/android-spinner.md
Labels: t/docs

#3101 Use EnteredBackground to trigger suspension logic
  MvvmCross/Platforms/Uap/Views/MvxApplication.cs
  Projects/Playground/Playground.Core/ViewModels/Issues/NavigationCloseViewModel.cs
  Projects/Playground/Playground.Uwp/Playground.Uwp.csproj
  Projects/Playground/Playground.Uwp/Playground.Uwp_TemporaryKey.pfx
Labels: p/uwp, t/bug

#3214 Remove calls to AppStart from normal Activities
  MvvmCross.Android.Support/V7.AppCompat/MvxAppCompatActivity.cs
  MvvmCross.Android.Support/V7.AppCompat/MvxSplashScreenAppCompatActivity.cs
  MvvmCross/Platforms/Android/Views/MvxActivity.cs
  MvvmCross/Platforms/Android/Views/MvxSplashScreenActivity.cs
Labels: p/android, p/android-support, t/bug

#3400 Add a better MvxRecyclerView sample to Playground
  Projects/Playground/Playground.Core/ViewModels/Issues/CollectionViewModel.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Droid/Resources/drawable/star.xml
  Projects/Playground/Playground.Droid/Resources/layout/CollectionView.axml
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_cat.axml
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_dog.axml
  Projects/Playground/Playground.Droid/Resources/layout/itemtemplate_monkey.axml
  Projects/Playground/Playground.Droid/Resources/values/Strings.xml
  Projects/Playground/Playground.Droid/TemplateSelectors/AnimalTemplateSelector.cs
Labels: p/samples

#3366 Fix crash and improve MvxRecyclerViewAdapter and MvxRecyclerViewHolder
  MvvmCross.Android.Support/V7.RecyclerView/IMvxRecyclerViewHolder.cs
  MvvmCross.Android.Support/V7.RecyclerView/MvxGuardedLinearLayoutManager.cs
  MvvmCross.Android.Support/V7.RecyclerView/MvxRecyclerAdapter.cs
  MvvmCross.Android.Support/V7.RecyclerView/MvxRecyclerView.cs
  MvvmCross.Android.Support/V7.RecyclerView/MvxRecyclerViewHolder.cs
  Projects/Playground/Playground.Droid/Adapter/SelectedItemRecyclerAdapter.ViewHolder.cs
  Projects/Playground/Playground.Droid/Adapter/SelectedItemRecyclerAdapter.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
Labels: t/bug

#3388 Fix attribute for Mac windows presentation
  MvvmCross/Platforms/Mac/Presenters/Attributes/MvxWindowPresentationAttribute.cs
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
Labels: p/mac

#3406 Open up methods in PageViewController to be able to customize behavior
  MvvmCross/Platforms/Ios/Views/MvxPageViewController.cs
Labels: t/feature
