Repository MvvmCross/MvvmCross, pull requests merged in 2020-03, with the labels that each got.

#3729 Fix NoSuchMethodError exception when calling IsDestroyed
  MvvmCross/Platforms/Android/MvxJavaObjectExtensions.cs
Labels: p/android, t/bug

#3674 Remove obsolete platform services method
  MvvmCross/Core/MvxSetup.cs
  MvvmCross/Platforms/Wpf/Core/MvxWpfSetup.cs
Labels: t/breaking, t/maintenance

#3741 Update everything to the latest
  Directory.build.props
  MvvmCross.DroidX/AppCompat/MvvmCross.DroidX.AppCompat.csproj
  MvvmCross.DroidX/Fragment/MvvmCross.DroidX.Fragment.csproj
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/Preference/MvvmCross.DroidX.Preference.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Forms.Wpf/MvvmCross.Forms.Platforms.Wpf.csproj
  MvvmCross.Forms/MvvmCross.Forms.csproj
  MvvmCross.Plugins/Accelerometer/MvvmCross.Plugin.Accelerometer.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Email/MvvmCross.Plugin.Email.csproj
  MvvmCross.Plugins/File/MvvmCross.Plugin.File.csproj
  MvvmCross.Plugins/Location.Fused/MvvmCross.Plugin.Location.Fused.csproj
  MvvmCross.Plugins/Location/MvvmCross.Plugin.Location.csproj
  MvvmCross.Plugins/Network/MvvmCross.Plugin.Network.csproj
  MvvmCross.Plugins/PhoneCall/MvvmCross.Plugin.PhoneCall.csproj
  MvvmCross.Plugins/PictureChooser/MvvmCross.Plugin.PictureChooser.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Share/MvvmCross.Plugin.Share.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.Plugins/WebBrowser/MvvmCross.Plugin.WebBrowser.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross.sln
  MvvmCross/MvvmCross.csproj
  Projects/Directory.build.props
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  XamarinForms.targets
  XamarinFormsWpf.targets
  icon.png
Labels: t/breaking
