Repository MvvmCross/MvvmCross, pull requests merged in 2020-01, with the labels that each got.

#3679 Downgrade Xamarin.Build.Download to 0.4.11 as latest has a bug
  XamarinBuild.targets
Labels: p/ci

#3675 Small Optimizations for Loading Plugins
  MvvmCross/Core/MvxSetup.cs
Labels: t/maintenance

#3683 Fix rethrowing exceptions
  MvvmCross.Plugins/File/Platforms/Uap/MvxWindowsFileStore.cs
  MvvmCross/Base/MvxMainThreadDispatcher.cs
  MvvmCross/Core/MvxSetupSingleton.cs
Labels: t/bug

#3687 Update singleton registering sample in the docs
  docs/_documentation/fundamentals/inversion-of-control-ioc.md
Labels: t/docs

#3688 Fix MvxLayoutInflater nullref
  MvvmCross/Platforms/Android/Binding/Views/MvxLayoutInflater.cs
Labels: p/android

#3703 Modify docs. Typo.
  docs/_documentation/fundamentals/data-binding.md
  docs/_documentation/fundamentals/navigation.md
  docs/_documentation/getting-started/mvvmcross-overview.md
  docs/_documentation/platform/android/android-linearlayout.md
  docs/_documentation/platform/android/android-recyclerview.md
  docs/_documentation/platform/android/android-support-library.md
  docs/_documentation/platform/ios/ios-view-presenter.md
  docs/_documentation/platform/uwp/universal-windows-platform-uwp.md
  docs/_documentation/platform/xamarin.forms/xamarin-forms-view-presenter.md
  docs/_documentation/platform/xamarin.forms/xamarin-forms.md
Labels: t/docs
