Repository MvvmCross/MvvmCross, pull requests merged in 2020-09, with the labels that each got.

#3912 Clean up Android Presenter
  .editorconfig
  MvvmCross/Platforms/Android/MvxJavaObjectExtensions.cs
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: p/android, t/breaking

#3911 Add ability to Add fragment instead of always replacing it
  MvvmCross/Platforms/Android/Presenters/Attributes/MvxFragmentPresentationAttribute.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: p/android

#3916 Mark MvxAndroidViewPresenter nullable and fix all the null issues
  .editorconfig
  MvvmCross/Platforms/Android/MvxJavaObjectExtensions.cs
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: t/breaking, t/maintenance

#3930 Revert change to InflateViewForHolder in #3802
  MvvmCross.DroidX/RecyclerView/MvxRecyclerAdapter.cs
Labels: t/bug

#3932 Remove Network and File plugins
  MvvmCross.Plugins/All/MvvmCross.Plugin.All.csproj
  MvvmCross.Plugins/File/IMvxFileStore.cs
  MvvmCross.Plugins/File/IMvxFileStoreAsync.cs
  MvvmCross.Plugins/File/MvvmCross.Plugin.File.csproj
  MvvmCross.Plugins/File/MvxFileConfiguration.cs
  MvvmCross.Plugins/File/MvxFileStoreBase.cs
  MvvmCross.Plugins/File/MvxIoFileStoreBase.cs
  MvvmCross.Plugins/File/MvxPluginLog.cs
  MvvmCross.Plugins/File/Platforms/Android/Plugin.cs
  MvvmCross.Plugins/File/Platforms/Ios/MvxIosFileStore.cs
  MvvmCross.Plugins/File/Platforms/Ios/Plugin.cs
  MvvmCross.Plugins/File/Platforms/Uap/MvxWindowsFileStore.cs
  MvvmCross.Plugins/File/Platforms/Uap/Plugin.cs
  MvvmCross.Plugins/File/Platforms/Wpf/Plugin.cs
  MvvmCross.Plugins/File/TryResult.cs
  MvvmCross.Plugins/Network/BasePlugin.cs
  MvvmCross.Plugins/Network/MvvmCross.Plugin.Network.csproj
  MvvmCross.Plugins/Network/MvxPluginLog.cs
  MvvmCross.Plugins/Network/Platforms/Android/MvxReachability.cs
  MvvmCross.Plugins/Network/Platforms/Android/Plugin.cs
  MvvmCross.Plugins/Network/Platforms/Ios/MvxReachability.cs
  MvvmCross.Plugins/Network/Platforms/Ios/Plugin.cs
  MvvmCross.Plugins/Network/Platforms/Uap/Plugin.cs
  MvvmCross.Plugins/Network/Platforms/Wpf/Plugin.cs
  MvvmCross.Plugins/Network/Platforms/Wpf/Reachability/MvxWpfReachability.cs
  MvvmCross.Plugins/Network/Reachability/IMvxReachability.cs
  MvvmCross.Plugins/Network/Reachability/MvxReachabilityStatus.cs
  MvvmCross.Plugins/Network/Rest/IMvxAbortable.cs
  MvvmCross.Plugins/Network/Rest/IMvxJsonRestClient.cs
  MvvmCross.Plugins/Network/Rest/IMvxRestClient.cs
  MvvmCross.Plugins/Network/Rest/MvxContentType.cs
  MvvmCross.Plugins/Network/Rest/MvxDecodedRestResponse.cs
  MvvmCross.Plugins/Network/Rest/MvxJsonRestClient.cs
  MvvmCross.Plugins/Network/Rest/MvxJsonRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxKnownOptions.cs
  MvvmCross.Plugins/Network/Rest/MvxMultiPartFormRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxRestClient.cs
  MvvmCross.Plugins/Network/Rest/MvxRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxRestRequestAsyncHandle.cs
  MvvmCross.Plugins/Network/Rest/MvxRestResponse.cs
  MvvmCross.Plugins/Network/Rest/MvxStreamRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxStreamRestResponse.cs
  MvvmCross.Plugins/Network/Rest/MvxStringRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxTextBasedRestRequest.cs
  MvvmCross.Plugins/Network/Rest/MvxVerbs.cs
  MvvmCross.Plugins/Network/Rest/MvxWwwFormRestRequest.cs
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.sln
  Projects/Playground/Playground.Core/Playground.Core.csproj
  Projects/Playground/Playground.Core/ViewModels/RootViewModel.cs
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  UnitTests/Plugins.Network.UnitTest/MvvmCross.Plugins.Network.UnitTest.csproj
  docs/_documentation/plugins/file.md
  docs/_documentation/plugins/network.md
Labels: t/breaking

#3894 Fixed typo `MyPropertyChanged`
  docs/_documentation/advanced/custom-data-binding.md
Labels: t/docs

#3934 Enable Nullable References on MvxDefaultViewModelLocator
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/ViewModels/IMvxViewModel.cs
  MvvmCross/ViewModels/IMvxViewModelLoader.cs
  MvvmCross/ViewModels/IMvxViewModelLocator.cs
  MvvmCross/ViewModels/MvxAppStart.cs
  MvvmCross/ViewModels/MvxApplication.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxNavigationViewModel.cs
  MvvmCross/ViewModels/MvxViewModel.cs
  MvvmCross/ViewModels/MvxViewModelLoader.cs
  UnitTests/MvvmCross.UnitTest/Mocks/ViewModels/SimpleParameterTestViewModel.cs
  UnitTests/MvvmCross.UnitTest/Mocks/ViewModels/SimpleResultTestViewModel.cs
  UnitTests/MvvmCross.UnitTest/MvxTestCollection.cs
  UnitTests/MvvmCross.UnitTest/Navigation/NavigationServiceTests.cs
  UnitTests/MvvmCross.UnitTest/ViewModels/MvxDefaultViewModelLocatorTest.cs
Labels: t/breaking, t/maintenance
