Repository MvvmCross/MvvmCross, pull requests merged in 2020-10, with the labels that each got.

#3953 Replace deprecated Fragment.Instantiate by FragmentFactory.Instantiate
  MvvmCross/Platforms/Android/Views/MvxTabsFragmentActivity.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentPagerAdapter.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentStatePagerAdapter.cs
Labels: p/android

#3956 Fix nullable references in Android Presenter
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/IMvxAndroidSharedElements.cs
Labels: p/android

#3961 Enable nullable attributes on MvxIosViewPresenter and friends
  Directory.Build.props
  MvvmCross.Forms/Platforms/Ios/Presenters/MvxFormsIosViewPresenter.cs
  MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs
  MvvmCross/Platforms/Ios/Presenters/IMvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Presenters/IMvxPopoverPresentationSourceProvider.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Presenters/MvxPopoverDelegate.cs
  MvvmCross/Platforms/Ios/Presenters/MvxPopoverPresentationSourceProvider.cs
  MvvmCross/Platforms/Ios/Views/UIViewControllerExtensions.cs
  MvvmCross/Presenters/IMvxAttributeViewPresenter.cs
  MvvmCross/Presenters/IMvxOverridePresentationAttribute.cs
  MvvmCross/Presenters/IMvxViewPresenter.cs
  MvvmCross/Presenters/MvxAttributeViewPresenter.cs
  MvvmCross/Presenters/MvxViewPresenter.cs
  Projects/Playground/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  Projects/Playground/Playground.Forms.Mac/Playground.Forms.Mac.csproj
  Projects/Playground/Playground.Forms.iOS/Playground.Forms.iOS.csproj
  Projects/Playground/Playground.Mac/Playground.Mac.csproj
  Projects/Playground/Playground.iOS/Playground.iOS.csproj
Labels: p/ios, t/breaking

#3962 CI and project updates
  .config/dotnet-tools.json
  Directory.Build.props
  Directory.Build.targets
  MvvmCross.Forms.Wpf/MvvmCross.Forms.Platforms.Wpf.csproj
  MvvmCross.Forms/MvvmCross.Forms.csproj
  MvvmCross.Forms/Platforms/Mac/Core/MvxFormsApplicationDelegate.cs
  MvvmCross.Plugins/Accelerometer/MvvmCross.Plugin.Accelerometer.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/Email/MvvmCross.Plugin.Email.csproj
  MvvmCross.Plugins/Location/MvvmCross.Plugin.Location.csproj
  MvvmCross.Plugins/PhoneCall/MvvmCross.Plugin.PhoneCall.csproj
  MvvmCross.Plugins/PictureChooser/MvvmCross.Plugin.PictureChooser.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Share/MvvmCross.Plugin.Share.csproj
  MvvmCross.Plugins/Sidebar/MvvmCross.Plugin.Sidebar.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross.Plugins/WebBrowser/MvvmCross.Plugin.WebBrowser.csproj
  MvvmCross.Wpf/MvvmCross.Platforms.Wpf.csproj
  MvvmCross/MvvmCross.csproj
  Projects/Playground/Playground.Droid/Playground.Droid.csproj
  Projects/Playground/Playground.Forms.Droid/Playground.Forms.Droid.csproj
  Projects/Playground/Playground.Forms.UI/Playground.Forms.UI.csproj
  azure-pipelines-quality-gate.yml
  azure-pipelines.yml
  build.ps1
  build.sh
Labels: dependencies, p/ci

#3966 Release 7.1.0 blogpost
  docs/_posts/2020-10-21-mvvmcross-7.1.0-release.md
Labels: t/docs

#3970 Change ViewModel Parameters and Result constraints from class to notnull
  MvvmCross/Navigation/IMvxNavigationService.cs
  MvvmCross/Navigation/MvxNavigationExtensions.cs
  MvvmCross/Navigation/MvxNavigationService.cs
  MvvmCross/ViewModels/IMvxViewModel.cs
  MvvmCross/ViewModels/IMvxViewModelLoader.cs
  MvvmCross/ViewModels/IMvxViewModelLocator.cs
  MvvmCross/ViewModels/MvxAppStart.cs
  MvvmCross/ViewModels/MvxDefaultViewModelLocator.cs
  MvvmCross/ViewModels/MvxViewModel.cs
  MvvmCross/ViewModels/MvxViewModelLoader.cs
Labels: t/bug

#3976 Fix for Forms Modal Back Navigation #3914
  MvvmCross.Forms/Platforms/Android/Views/MvxFormsAppCompatActivity.cs
Labels: p/forms, t/bug
