Repository MvvmCross/MvvmCross, pull requests merged in 2021-07, with the labels that each got.

#4136 Support embedding NavigationPage inside of TabbedPage
  MvvmCross.Forms/Presenters/MvxFormsPagePresenter.cs
Labels: p/forms, t/bug

#4040 fix iOS closing non fullscreen modals not closing view model
  MvvmCross/Platforms/Ios/Presenters/IMvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Presenters/MvxIosViewPresenter.cs
  MvvmCross/Platforms/Ios/Presenters/MvxModalPresentationControllerDelegate.cs
  MvvmCross/Platforms/Ios/Presenters/MvxPopoverPresentationControllerDelegate.cs
Labels: p/ios, t/bug

#4229 Fix potential null ref in MvxColorValueConverter
  MvvmCross.Plugins/Color/BasePlugin.cs
  MvvmCross.Plugins/Color/MvxColorValueConverter.cs
Labels: p/wpf, t/bug

#4230 Fix navigate with TParameter and TResult resulting in crash
  MvvmCross/Navigation/MvxNavigationService.cs
Labels: t/bug

#4231 Fix appcompat searchview query targetbinding not registered
  MvvmCross/Platforms/Android/Binding/MvxAndroidBindingBuilder.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxSearchViewQueryTextTargetBinding.cs
Labels: p/android, t/bug

#4207 Sticky Messages
  MvvmCross.Plugins/Messenger/IMvxMessenger.cs
  MvvmCross.Plugins/Messenger/MvxMessengerHub.cs
Labels: t/feature
