Repository MvvmCross/MvvmCross, pull requests merged in 2021-06, with the labels that each got.

#4186 Add back preferences related bindings and helpers
  MvvmCross/Platforms/Android/Binding/MvxPreferencePropertyBinding.cs
  MvvmCross/Platforms/Android/Binding/MvxPreferencePropertyBindingExtensions.cs
  MvvmCross/Platforms/Android/Binding/MvxPreferenceSetupHelper.cs
  MvvmCross/Platforms/Android/Binding/Target/MvxPreferenceClickTargetBinding.cs
Labels: p/android, t/bug

#4187 Respect Tag in attribute when set
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
Labels: p/android, t/bug

#4192 Fix binding context not set on Android Activities
  MvvmCross/Platforms/Android/Views/MvxActivity.cs
  MvvmCross/Platforms/Android/Views/MvxActivityViewExtensions.cs
  Projects/Playground/Playground.Droid/LinkerPleaseInclude.cs
Labels: p/android, t/bug

#4193 Register generic logger
  MvvmCross/Core/MvxSetup.cs
Labels: t/bug

#4057 Update iOS Sidebar Documentation
  docs/_documentation/plugins/ios-sidebar.md
Labels: t/docs

#4202 Add preliminary MvvmCross 8 migration doc
  docs/_documentation/upgrading/upgrade-to-mvvmcross-80.md
Labels: t/docs

#4200 Fix typo in data-binding.md
  docs/_documentation/fundamentals/data-binding.md
Labels: t/docs

#4203 Update breaking changes doc
  docs/_documentation/upgrading/upgrade-to-mvvmcross-40.md
  docs/_documentation/upgrading/upgrade-to-mvvmcross-50.md
  docs/_documentation/upgrading/upgrade-to-mvvmcross-60.md
  docs/_documentation/upgrading/upgrade-to-mvvmcross-80.md
Labels: t/docs

#4209 Fix resolving of IMvxTextProvider
  MvvmCross/Localization/MvxLanguageBinder.cs
Labels: t/bug
