Repository MvvmCross/MvvmCross, pull requests merged in 2021-01, with the labels that each got.

#3989 Fix memory leak in MvxMacViewPresenter
  MvvmCross/Platforms/Mac/Presenters/MvxMacViewPresenter.cs
  Projects/Playground/Playground.Mac/RootView.cs
Labels: p/mac

#4035 Nuget manage packages centrally
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  MvvmCross.sln
  MvvmCross/MvvmCross.csproj
  UnitTests/MvvmCross.UnitTest.Common/MvvmCross.UnitTest.Common.csproj
  UnitTests/MvvmCross.UnitTest/MvvmCross.UnitTest.csproj
  UnitTests/Plugins.Color.UnitTest/MvvmCross.Plugins.Color.UnitTest.csproj
  UnitTests/Plugins.JsonLocalization.UnitTest/MvvmCross.Plugins.JsonLocalization.UnitTest.csproj
  UnitTests/Plugins.Messenger.UnitTest/MvvmCross.Plugins.Messenger.UnitTest.csproj
  UnitTests/Plugins.ResourceLoader.UnitTest/MvvmCross.Plugins.ResourceLoader.UnitTest.csproj
  UnitTests/Plugins.ResxLocalization.UnitTest/MvvmCross.Plugins.ResxLocalization.UnitTest.csproj
  UnitTests/Plugins.Visibility.UnitTest/MvvmCross.Plugins.Visibility.UnitTest.csproj
  XamarinBuild.targets
  XamarinForms.targets
  XamarinFormsWpf.targets
Labels: t/maintenance

#4036 Bump deps
  Directory.Build.targets
  Directory.Packages.props
Labels: t/maintenance

#4073 Fix exception disposing weakevent on disposed source
  MvvmCross/WeakSubscription/MvxWeakEventSubscription.cs
  Projects/Playground/Playground.Droid/Adapter/SelectedItemRecyclerAdapter.cs
  UnitTests/MvvmCross.UnitTest/Base/MvxWeakEventSubscriptionTest.cs
Labels: t/bug

#4074 Fix null ref in mvxmessenger using logger
  MvvmCross.Plugins/Messenger/IMvxMessenger.cs
  MvvmCross.Plugins/Messenger/MvxMessage.cs
  MvvmCross.Plugins/Messenger/MvxMessengerHub.cs
  MvvmCross.Plugins/Messenger/MvxPluginLog.cs
  MvvmCross.Plugins/Messenger/MvxSubscriberChangeMessage.cs
  MvvmCross.Plugins/Messenger/MvxSubscriptionToken.cs
  MvvmCross.Plugins/Messenger/Plugin.cs
Labels: t/bug

#4077 Update gems
  docs/Gemfile.lock
Labels: t/docs
