Repository MvvmCross/MvvmCross, pull requests merged in 2025-09, with the labels that each got.

#4936 Remove obsolete NET 8 MAUI targets
  MvvmCross.DroidX/Leanback/MvvmCross.DroidX.Leanback.csproj
  MvvmCross.DroidX/Material/MvvmCross.DroidX.Material.csproj
  MvvmCross.DroidX/RecyclerView/MvvmCross.DroidX.RecyclerView.csproj
  MvvmCross.DroidX/SwipeRefreshLayout/MvvmCross.DroidX.SwipeRefreshLayout.csproj
  MvvmCross.Plugins/Color/MvvmCross.Plugin.Color.csproj
  MvvmCross.Plugins/ResourceLoader/MvvmCross.Plugin.ResourceLoader.csproj
  MvvmCross.Plugins/Visibility/MvvmCross.Plugin.Visibility.csproj
  MvvmCross/MvvmCross.csproj
Labels: t/feature, p/android-support, p/plugins

#4940 Switch to NuGet trusted publishing
  .github/workflows/release.yml
Labels: p/ci

#4941 Update CI tools
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

#4939 Fix faulty scroll when expanding a section using MvxExpandableTableViewSource
  MvvmCross/Platforms/Ios/Views/MvxExpandableTableViewSource.cs
Labels: p/ios

#4944 Move shared steps into composite actions
  .github/actions/shared/action.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-format.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: p/ci

#4945 Update dependabot configuration
  .github/dependabot.yml
  Directory.Packages.props
Labels: p/ci
