Repository MvvmCross/MvvmCross, pull requests merged in 2025-07, with the labels that each got.

#4912 Fix NSTextView binding (for text content). Fixes #4909.
  MvvmCross/Platforms/Mac/Binding/MvxMacBindingBuilder.cs
  MvvmCross/Platforms/Mac/Binding/Target/MvxNSTextViewTextTargetBinding.cs
Labels: p/mac

#4896 Added saving and restoring fragments info for ViewPager fragments:
  MvvmCross/Platforms/Android/Presenters/MvxAndroidViewPresenter.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentPagerAdapter.cs
  MvvmCross/Platforms/Android/Views/ViewPager/MvxCachingFragmentStatePagerAdapter.cs
  Projects/Playground/Playground.Droid/Activities/TabsRootView.cs
  Projects/Playground/Playground.Droid/Fragments/TabsRootBView.cs
Labels: p/samples, p/android

#4920 Switch to Java Temurin dist
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Labels: p/ci

#4917 Apply window insets to support Android edge-to-edge
  Projects/Playground/Playground.Droid/Activities/RootView.cs
Labels: t/feature, p/samples
